<style>
@media(max-width:360px)and(min-width: 414px){
	.table{width: 100%;}

}
.table{width: 100%;}
</style>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">

  <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#F9F2E7;border-collapse: collapse;">
      <tr>
        <td style="font-family: arial, sans-serif;">
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="680" bgcolor="#FFFFFF">
            <tr>
              <td bgcolor="#fec804" style="font-size: 0; line-height: 0; padding: 0 10px;font-family: arial, sans-serif;"  class="responsive-image">
				<table style="border-collapse: collapse;">
					<tr>
						<td align="left">
						<img src="desi-logo.png" alt="" height="140" class="image-circle" style="border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 4px solid #FFF;
    margin: 10px;">
						</td>
					
						<td>
							<table class="table" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-collapse: collapse;">
								<tr>
									<td style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">9766078696</label>
									</td>
								</tr>
								<tr>
									<td  style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">info@qunovatec.com</label>
									</td>
								</tr>
								<tr>
									<td style="width:50px;padding-left:210px;padding-bottom:10px;">
									    <label style="font-size:14px;color: #fff;">qunova.com</label>
									</td>
								</tr>
							</table>
						</td>
					
						<td>
						<table class="table" border="0" cellpadding="0" cellspacing="0" width="100%"  style="font-family: arial, sans-serif; color:#fff; font-size:15px;">
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">F-25 First Floor,Phoenix mall,</label>
								</td>
							</tr>
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">East Court,Clover Park,</label>
								</td>
							</tr>
							<tr>
								<td style="width:350px;padding-bottom:7px;">
									<label style="font-size:14px;color: #fff;float:right;">Viman Nagar,Pune-411014.</label>
								</td>
							</tr>
						</table>
						</td>
					</tr>
					
				</table>
              </td>
            </tr>
            <tr>
            	<td>
            		<table class="table" style="width:100%;height:500px;padding-top:200px;">
            			<tr>
            				<td>
            					<label style="font-size:20px;color:blue;margin-left:130px;"> " Your Payment Is In Progress. Please Wait...."</label>
            				</td>
            			</tr>
            			<tr></tr>
            		</table>
            	</td>
            </tr>
            <tr>
              <td  style="background-image:url(footer-bg.png);height:160px; border-collapse: collapse;">
                <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                  <tr>
                    <td style="padding: 0 10px;">
                       <!--  <img src="footer-bg.png" width="100" alt="" /> -->
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  