/*Dark Skin */

body, #page-content{background-color:#000000;}
h1, h2, h3, h4, h5, h6{color:#FFFFFF;}


/*General - Reset*/
p{color:#b4b4b4;}
body{color:#b4b4b4;}
p strong{color:#c6c6c6;}
a{color:#fec804;}
ul, ol{color:#b4b4b4;}
.font-icon-list{color:#b4b4b4;}
.font-icon-list i{color:#666666;}
.sitemap-box a{color:#FFFFFF!important;}
.share-light i{color:#1f1f1f!important;}
.share-light h3{color:#1f1f1f!important;}

.table tr.even td{background: #efefef;}
.table tr:hover td{background: #f8f8f8;}
tr:hover > td {background: #fff;}

th{	border-bottom: 1px solid #e9e9e9;	border-right: 1px solid #e9e9e9;	color: #555;	background-color: #f6f6f6;}
td{ border-right: 1px solid #e9e9e9;	border-bottom: 1px solid #e9e9e9;   color: #666;	background-color: #fdfdfd;}
table{    background-color: #f6f6f6;	border-left: 1px solid #e9e9e9;    	border-top: 1px solid #e9e9e9;}

/*Heading Style*/
.heading-style .line{background-color:rgba(255,255,255,0.2);}
.heading-style i{background-color:#000000; color:#666666;}
.decoration{background-color:rgba(255,255,255,0.08);}
.heading-line-1{background-color:rgba(255,255,255,0.1)!important;}
.heading-line-2{background-color:rgba(255,255,255,0.1)!important;}
.heading-text i{color:#FFFFFF!important;}
.footer-socials a{color:#FFFFFF!important;}
.footer-links i{color:#FFFFFF!important;}

/*Select Box*/
select{color:#9d9d9d;}
.select-box{border: 1px solid rgba(255,255,255,0.1);  background: #000000 url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 95% 50%;}

/*Input*/
.input-text-box{    border:solid 1px rgba(255,255,255,0.1);           color:rgba(255,255,255,0.6);}
.input-text-line{   border-bottom:solid 1px rgba(255,255,255,0.1);    color:rgba(255,255,255,0.6);}
.input-text-line:focus, .input-text-box:focus{color:#FFFFFF!important;}
.input-icon i{color:#FFFFFF;}
.fac label{    color:#FFFFFF;}
.range-slider-output{color:#FFFFFF;}
.onoffswitch-label{border:none!important;}

/*Dropcaps*/
.dropcaps-1:first-child:first-letter{    color: #FFFFFF;}
.dropcaps-2:first-child:first-letter{    color: #FFFFFF;     background-color:#848484;}
.dropcaps-3:first-child:first-letter{    color: #1f1f1f;     border-left:solid 4px #c0392b;}
.dropcaps-4:first-child:first-letter{    color: #1f1f1f;     text-shadow:3px 3px 1px rgba(255,255,255,0.3);}

/*Text Highlight*/
.text-highlight span{color:#FFFFFF;}

/*Device Buttons*/
.android-button{background-color:#000000;}
.android-button em{color:#FFFFFF;}
.android-button i{color:#FFFFFF;}
.android-button strong{color:#FFFFFF;}

.ios-button{background-color:#000000;}
.ios-button em{color:#FFFFFF;}
.ios-button i{color:#FFFFFF;}
.ios-button strong{color:#FFFFFF;}

.windows-button{background-color:#000000;}
.windows-button em{color:#FFFFFF;}
.windows-button i{color:#FFFFFF;}
.windows-button strong{color:#FFFFFF;}

.down-button{background-color:#000000;}
.down-button em{color:#FFFFFF;}
.down-button i{color:#FFFFFF;}
.down-button strong{color:#FFFFFF;}

/*Menu Bar Icons*/
.menu-bar a{color:#FFFFFF!important;}
.menu-bar-icons, .menu-bar-text{border-bottom:solid 1px rgba(255,255,255,0.1)!important;}
.dark-menu-bar{background-color:#2c3e50!important;}
.light-menu-bar{background-color:rgba(255,255,255,0.1)!important;}
.light-menu-bar a{color:#1f1f1f!important;}
.light-menu-bar i{color:#1f1f1f!important;}
.progress-line{background-color:rgba(255,255,255,0.1)!important;}
.progress-indicator em{color:#FFFFFF;}
.button-ghost, .icon-ghost{    color:#FFFFFF!important;}

/*Menu Tab Bar*/
.menu-tab-bar a{color:#FFFFFF!important;}
.light-tab-bar{background-color:rgba(255,255,255,0.1);}
.dark-tab-bar{border:none!important;}
.dark-tab-bar .selected-tab-bar{border:none!important;}

/*Toggles*/
.toggle{border-bottom:solid 1px rgba(0,0,0,0.1);}
.toggle .toggle-title{color:#1f1f1f;}
.toggle i{color:#000000;}
.toggle-title{color:#FFFFFF!important;}
.toggle-title i{color:#FFFFFF!important;}

/*Dropdown*/
.dropdown-ghost{color:#FFFFFF!important;}
.dropdown-ghost em{color:#FFFFFF!important;}
.dropdown-ghost .dropdown-item em{color:#959595!important;}
.dropdown-ghost i{color:#FFFFFF!important;}

/*Accordions*/
.accordion-item{border:solid 1px rgba(255,255,255,0.1);}
.accordion-toggle{color:#FFFFFF;}
.last-accordion-item{border-bottom:solid 1px rgba(255,255,255,0.1)!important;}

/*Tabs*/
ul.tabs li{color: #666;}
ul.tabs li.current{background: rgba(255,255,255,0.05); color: #FFF;}
.tab-content{background: rgba(255,255,255,0.05); color:inherit;}

/*Portfolios*/
.border-image{background-color:#FFFFFF; border:solid 1px rgba(0,0,0,0.1);}
.active-adaptive{color:#FFFFFF!important;}
.portfolio-adaptive-controls{background-color:#2c3e50;}
.portfolio-adaptive-controls h4{color:#FFFFFF;}
.portfolio-adaptive-controls .portfolio-switch{border-left:solid 1px rgba(255,255,255,0.1); color:rgba(255,255,255,0.5);}

/*Quotes / Reviews*/
.quote-1-left{border-left:solid 8px #c0392b;}
.quote-1-left em{color:#8e8e8e;}
.quote-1-right{border-right:solid 8px #c0392b;}
.quote-1-right em{color:#8e8e8e;}
    
.quote-2-left i{color:#cacaca;}
.quote-2-right i{color:#cacaca;}
.quote-3 a{color:#3b3b3b;}
.quote-3 i{color:#FFFFFF;}

.review-1 em{color:#8d8d8d;}
.review-2 em{color:#8d8d8d;}
.review-3 a{color:#1f1f1f;}
.review-3 i{color:#f1c40f;}
.review-3 a{color:rgba(255,255,255,0.8)!important;}

/*Timeline Page*/
.page-timeline-1 .timeline-block-left i{border:solid 1px #5c5c5c; background-color:#0c1117; color:#FFFFFF;}
.page-timeline-1 .timeline-deco{background-color:#5c5c5c;}
.page-timeline-1 .timeline-subheading{color:#fec804;}

.page-timeline-2 .timeline-deco{background-color:#cacaca;}
.page-timeline-2 .timeline-icon{background-color:#0c1117;}
.page-timeline-2 .timeline-icon i{border:solid 1px rgba(255,255,255,0.2); color:#FFFFFF; background-color:#000000;}
.page-timeline-2 .timeline-content{background-color:#0c1117;}
.page-timeline-2 .timeline-content-fullscreen{background-color:#0c1117;}
.page-timeline-2 .timeline-subheading{color:#fec804;}
.page-timeline-2 .timeline-smallheading{color:#fec804;}

/*Page Login*/
.page-login-input input{background-color:rgba(255,255,255,0);   border-bottom:solid 2px rgba(255,255,255,0.2);    color:#FFFFFF;}
.page-login-input input:focus{border-bottom:solid 2px #27ae60;}
.page-login-input i{color:#4a4a4a;}
.page-login-input a i{color:#d3d3d3!important;}
.page-login-forgot{color:#969696;}
.page-login-create{color:#969696;}

/*Page Profile*/
.profile-page-1-header p{ padding-top:50px!important;}
.profile-page-1-header h1{color:#000000!important;}
.profile-page-2-header em{color:#989898;}
.profile-page-2-header strong{color:#454545;}

/*Contact Page*/
.field-title{color:#FFFFFF;}
.contactField{background-color:rgba(0,0,0,0.0); color:#FFFFFF; border:solid 1px rgba(255,255,255,0.1);}
.contactField:focus{border:solid 1px #27ae60;}
.contactTextarea{background-color:rgba(0,0,0,0.0); color:#FFFFFF; border:solid 1px rgba(255,255,255,0.1);}
.contactTextarea:focus{border:solid 1px #27ae60;} 

/*Page Soon*/
.page-soon .countdown-class{   color:#FFFFFF!important;}
.page-soon .countdown-class em{color:#9a9a9a!important;}

/*Contact Icons*/
.contact-information{color:rgba(255,255,255,0.4)!important;}
.contact-information a{color:rgba(255,255,255,0.4)!important;}
.contact-call, .contact-text, .contact-mail, .contact-facebook, .contact-twitter{color:#cacaca;}
.contact-call i, .contact-text i, .contact-mail i, .contact-facebook i, .contact-twitter i{color:#FFFFFF;}

/*User List*/
.user-list-1{border-bottom:solid 1px rgba(255,255,255,0.1);}
.user-list-1 strong{color:#FFFFFF;}
.user-list-2{border-bottom:solid 1px rgba(255,255,255,0.1);}
.user-list-2 em{color:#868686;}
.user-list-2 strong{color:#FFFFFF;}
.user-list-3{border-bottom:solid 1px rgba(255,255,255,0.1);}
.user-list-3 strong{color:#FFFFFF;}
.user-list-3 i{color:#FFFFFF;}
.user-list-4{border-bottom:solid 1px rgba(255,255,255,255.0.1);}
.user-list-4 strong{color:#FFFFFF;}
.user-list-4 em{color:#868686;}
.activity-status{border-bottom:solid 1px rgba(255,255,255,0.2);}
.activity-status strong{color:#FFFFFF;}
.activity-status em{color:#cacaca;}
.activity-item{border-bottom:solid 1px rgba(255,255,255,0.2);}
.activity-item strong{color:#FFFFFF;}
.activity-item em{color:#cacaca;}
.activity-incident em{color:#acacac;}
.activity-incident strong{color:#acacac;}

/*Calendar*/
.calendar-titles a{color:#cacaca;}
.calendar-days a{color:#FFFFFF;}
.calendar-days a:hover{color:rgba(41, 128, 185,1.0);}
.taken-day{color:#FFFFFF!important;}
.taken-day i{color:#27ae60;}
.close-day{color:#FFFFFF!important;}
.close-day i{color:#c0392b;}
.calendar-hours{border-top:solid 1px rgba(255,255,255,0.1);}
.calendar-hour{border-bottom:solid 1px rgba(255,255,255,0.1);}
.calendar-hour-clear:hover{background-color: rgba(39, 174, 96, 0.1);}
.calendar-hour-taken:hover{background-color: rgba(192, 57, 43,0.1);}
.calendar-hour strong{color:#666666; opacity:0.7;}
.calendar-hour em{color:#666666;}

/*Checklist*/
.checklist-item{border-bottom:solid 1px rgba(255,255,255,0.1);}
.checklist-item em{color:#FFFFFF;}
.checklist-item em span{color:#696969;}
.checklist-item em{border-right:solid 1px rgba(255,255,255,0.1);}
.checklist-item strong{color:#d3d3d3;}
.completed-checklist{color:#838383!important;}

/*Tasklist Item*/
.tasklist-item{color:#1f1f1f; border-left:solid 4px #ecf0f1;}
.tasklist-item i:first-child{color:rgba(255,255,255,0.2);}
.tasklist-item h5{border-top:solid 1px rgba(255,255,255,0.1); border-right:solid 1px rgba(255,255,255,0.1);}
.tasklist-completed{background-color:rgba(255,255,255,0.05);}
.tasklist-completed h5{color:#b1b1b1!important;}

/*Chat Page*/
.chat-input{border-top:solid 1px rgba(0,0,0,0.1); background: #1f1f1f;}
.chat-input a:first-child{background-color:#4e4e4e; color:#FFFFFF;}
.chat-input a:last-child{ background-color:#4e4e4e; color:#FFFFFF;}
.chat-input input{color:#666666; border:solid 1px rgba(0,0,0,0.2);}
.chat-input input:focus{color:#1f1f1f;}
.speach-left{ background-color:#000000; border:solid 1px #2a2a2a;}
.speach-right{background-color:#000000; border:solid 1px #2a2a2a;}
.speach-read{color:#FFFFFF;}

/*News Page*/
.active-home-tab{color:#FFFFFF!important; border-bottom:solid 3px #e74c3c!important;}
.home-tabs a:hover{color:#cccccc!important; border-bottom:solid 3px #e74c3c!important;}
.home-tabs a{color:rgba(255,255,255,0.5); border-bottom:solid 3px #656565;}
.thumb-layout strong{color:#FFFFFF;}
.thumb-layout em{color:#cacaca;}
.thumb-layout u{color:#666666!important;}
.badge-news{background-color:rgba(255,255,255, 1);}
.badge-news h2{color:#000000;}
.badge-news p{color:#000000;}
.badge-share i{color:#5c5c5c!important;}
.badge-store h3{color:#FFFFFF!important;}
.card-small-layout strong{background-color:#FFFFFF; color:#1f1f1f;}
.card-small-layout em{color:#666666;}
.card-small-layout u{color:#fec804;}
.card-large-layout strong{background-color:#FFFFFF; color:#1f1f1f;}
.card-large-layout em{color:#666666;}
.card-large-layout u{color:#fec804;}
.text-slider{background-color:#FFFFFF;}
.text-slider p{color:#1f1f1f; border-bottom:solid 1px rgba(0,0,0,0.1);}
.thumb-layout a u{color:rgba(0,0,0,0.4);}
.profile-categories a{border-bottom:solid 1px rgba(0,0,0,0.05);    color:#666666;}
.profile-categories a em{color:#FFFFFF;}

/*Store Page*/
.category-slider a em{ color:#FFFFFF;}
.category-slider a strong{color:#4e4e4e;}
.category-title{color:#FFFFFF; border-top:solid 1px rgba(0,0,0,0.1);}
.badge-store{background-color:rgba(255,255,255,1);}
.badge-store h2{color:#1f1f1f;}
.badge-store h2{color:#1f1f1f;}
.badge-store h3{color:#1f1f1f;}
.badge-store p{color:rgba(255,255,255,0.7);}
.store-slider-item-description h6{color:#e85242;}
.store-slider-category{color:#777777;}
.store-slider-buttons a{color:#FFFFFF;}
.store-item strong{color:#1f1f1f;}
.store-item em{color:#666666;}
.store-item .discount{color:#e74c3c;}
.store-item .offer{color:#27ae60;}
.store-item-button-1{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-button-2{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-button-3{color:#FFFFFF; background-color:rgba(0,0,0,0.8);}
.store-item-list a strong{color:#FFFFFF;}
.store-item-list a em{color:#808080;}
.store-item-list a u{color:#000000; background-color:rgba(255,255,255,0.9);}
.store-cart-1 .cart-item h2{color:#2981bb;}
.store-cart-1 .cart-item h3{color:#666666;}
.store-cart-1 .cart-item h4 a:first-child{color:rgba(255,255,255,0.4);}
.store-cart-1 .cart-item h4 a:first-child:hover{color:#2cc16a;}
.store-cart-1 .cart-item h4 a:last-child{color:rgba(255,255,255,0.4);}
.store-cart-1 .cart-item h4 a:last-child:hover{color:#e74c3c;}
.store-cart-1 .cart-item h4 input{border:solid 1px rgba(255,255,255,0.3); color:#FFFFFF; background-color:transparent;}
.store-cart-1 .cart-item h5 a{color:#c0392b;}
.store-cart-2 .cart-item h2{color:#FFFFFF; background-color:rgba(0,0,0,0.6);}
.store-cart-2 .cart-item h3{color:#666666;}
.store-cart-2 .cart-item h4 a:first-child{color:rgba(255,255,255,0.4);}
.store-cart-2 .cart-item h4 a:first-child:hover{color:#2cc16a;}
.store-cart-2 .cart-item h4 a:last-child{color:rgba(255,255,255,0.4);}
.store-cart-2 .cart-item h4 a:last-child:hover{color:#e74c3c;}
.store-cart-2 .cart-item h4 input{border:solid 1px rgba(255,255,255,0.1); color:#FFFFFF; background-color:transparent;}
.store-input input{border-bottom:solid 1px rgba(255,255,255,0.2); color:#bdc3c7; background-color:transparent;}
.store-input input:focus{border:solid 1px #27ae60!important; color:#666666;}
.store-input select{border-bottom:solid 1px rgba(255,255,255,0.2); color:#bdc3c7; background-color:transparent;}
.store-input select:focus{border-bottom:solid 1px #27ae60!important; color:#666666;}
.store-about-image img{border:solid 5px #FFFFFF;}
.store-history-item h2{color:#666666;}
.store-history-item h6{color:#FFFFFF; background-color:rgba(0,0,0,0.5);}
.store-history-toggle a{color:#FFFFFF!important;}
.store-item strong{color:#FFFFFF;}
.page-invoice{background-color:#0c1117!important;}
.store-music-list strong{color:#FFFFFF!important;}

/*Blog Page*/
.page-blog-tags{color:#b7b7b7;}
.page-blog-list-by *{color:#FFFFFF;}
.page-blog-list-by a{color:#fec804!important;}
.page-blog-list-more i{color:#FFFFFF; background-color:#fec804;}
.page-blog-list-more i:hover{color:#FFFFFF;  background-color:#3498db;}
.page-blog-list-share i{color:#FFFFFF;    background-color:#27ae60;}
.page-blog-list-share i:hover{ background-color:#2ecc71;}
.blog-sidebar-text a strong{color:#FFFFFF;}
.blog-sidebar-text a em{color:#414141;}
.blog-sidebar-text a i{color:#cacaca;}
.blog-sidebar-search input{color:#b2b2b2!important; border-bottom:solid 2px rgba(255, 255, 255, 0.1);}
.blog-sidebar-search i{color:#FFFFFF!important;}
.blog-sidebar-search input:focus{border-bottom:solid 2px #27ae60;}
.blog-sidebar-recent-posts a{border-bottom:solid 1px rgba(0,0,0,0.1);}
.blog-sidebar-recent-posts strong{color:#1f1f1f;}
.blog-sidebar-recent-posts em{color:rgba(0,0,0,0.5);}
.blog-sidebar-recent-posts i{color:#1f1f1f;}
.blog-sidebar-categories a{border-bottom:solid 1px rgba(0,0,0,0.1); color:#777777;}
.blog-sidebar-categories a em{background-color:#e74c3c; color:#FFFFFF;}
.blog-post-comment strong{color:#FFFFFF;}
.blog-post-comment em{color:#727272;}
.blog-post-comment-add input:focus{border-bottom:solid 2px #27ae60;}
.blog-post-comment-add input{background-color:rgba(0,0,0,0.1); border-bottom:solid 1px rgba(255,255,255,0.1); color:#FFFFFF;}
.blog-post-comment-add textarea{background-color:rgba(0,0,0,0.1); border-bottom:solid 1px rgba(255,255,255,0.1); color:#FFFFFF;}
.blog-post-comment-add textarea:focus{border-bottom:solid 2px #27ae60;}

/*Gallery Page*/
.gallery-collection-item a img{border:solid 3px #0c1117!important;}
.gallery-collection-item em{background-color:#0c1117!important; color:#FFFFFF!important;}