

<div class="decoration decoration-margins"></div>

<div class="content">   

    <div class="row">
        <!-- <div class="store-cart-1"> -->
        <div class="col-sm-12 col-xs-12 effect6 box">

<!--            <div class="row" style="text-align: center">  
           <img  alt="img" class="preload-image " src="images/rupee_gold.png" > 
          </div>-->
           <div class="clear">&nbsp;</div>
            <div class="col-md-12 lbl-order">
                <img  alt="img" style="text-align:center;margin-left:120px;" src="images/rupee_gold.png" > 
            </div>
            <div class="clear">&nbsp;</div>
            <div class="row">
                <div class="col-sm-12 col-xs-12  ">
                    <label>As per your subscription plan your monthly bill amount is, </label><br> 
                </div>

                <div class="col-sm-12 col-xs-12 lbl-order">
                     <label class="available_curnt-bal-label ng-binding"  >Rs. {{advanceAmount | number : 2}} /-</label>
                </div>
                
                
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12  ">
                    <label>Available wallet balance, </label><br> 
                </div>

                <div class="col-sm-12 col-xs-12 lbl-order">
                     <label class="available_curnt-bal-label ng-binding"  >Rs. {{available_wallet_amount | number : 2}} /-</label>
                </div>
               
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12  ">
                    <label>Final amount, </label><br> 
                </div>

                <div class="col-sm-12 col-xs-12 lbl-order">
                     <label class="curnt-bal-label credit_color ng-binding"  >Rs. {{advance_final_amount | number : 2}} /-</label>
                </div>
               
            </div>
            
            <div class="clear">&nbsp;</div>
            <div class="col-md-12 lbl-order" ng-hide="advance_final_amount=='0'">
                <button type="button" class="button button-green button-round button-bold " ng-click="makeAdvancePayment(customer_id,advance_final_amount,available_wallet_amount)">Pay Advance Payment</button>
            </div>
            
            <div class="clear">&nbsp;</div>
        </div>
        <!-- </div> -->
    </div>



</div>