<!-- <h5 style="text-align:center">Add to Cart</h5>-->
<div class="decoration decoration-margins"></div>


<div class="content">    
	<div class="row thank" ng-if="payment_status=='1'">
		<div class="col-sm-12 col-xs-12 thank-box effect6">
			<h1>Thanks for your Payment !</h1>
                        <div class="col-sm-12 col-xs-12">
                                <img data-original="images/ok_icon.png" alt="img" class="preload-image" src="images/ok_icon.png">
                        </div>
                        
			<div class="row">
				<!--<div class="col-sm-12 col-xs-12">
					<label>Your order <span class="orderNO-lbl">No:2332111</span> is successfully submitted...</label>
					
				</div>-->
				<div class="col-sm-12 col-xs-12 lbl-order">
				<label>{{message_display}}</label>
				</div>
				<div class="col-sm-12 col-xs-12" style="text-align:center;">
					<a href="#!/myorders"  class="button button-round button-green button-view-order">View My Orders</a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="row failed" ng-if="payment_status=='0'">
		<div class="col-sm-12 col-xs-12 failed-box effect6">
			<h1>Failed to make Payment !</h1>
			  <div class="col-sm-12 col-xs-12">
                   <img data-original="images/ok_icon.png" alt="img" class="preload-image" src="images/failed.png">
               </div>
                        
			<div class="row">
<!--				<div class="col-sm-12 col-xs-12">
                                    <img data-original="images/cancel_icon.png" alt="img" class="preload-image" src="images/cancel_icon.png" style="height:30px !important;width: 30px !important; ">
				</div>-->
				<!--<div class="col-sm-12 col-xs-12">
					<label>Your order <span class="orderNO-lbl">No:2332111</span> is successfully submitted...</label>
					
				</div>-->

				<div class="col-sm-12 col-xs-12 lbl-order">
                    <label class="red_txt" >{{message_display}}</label>
				</div>
				<div class="col-sm-12 col-xs-12" style="text-align:center">
					<a href="#!/myorders"  class="button button-round button-green button-view-order">View My Orders</a>
				</div>
				
			</div>
		</div>
	</div>
    
</div>
