<!--<div class="content">    
	<div class="row wallet-box box-shadow">
		<div class="col-sm-12 col-xs-12 curnt-bal">

			<h7>Current Balance</h7>
                <div class="row">
                    <img  alt="img" class="preload-image curnt-bal-image" src="images/Indian_Rupee.png"><label class="curnt-bal-label">95,888</label>
                </div>
                        
			<div class="row">
				<div class="col-sm-6 col-xs-6 income-icon">
				<i class="ion-ios-arrow-thin-down"></i>
				<label>Income</label>
				<img data-original="images/Indian_Rupee.png" alt="img" class="preload-image income-image hidden" src="images/Indian_Rupee.png"><label>RS.456656 </label>
				</div>
				<div class="col-sm-6 col-xs-6  income-icon">
					<i class="ion-ios-arrow-thin-up"></i>
				<label>Income</label>
				<img data-original="images/Indian_Rupee.png" alt="img" class="preload-image income-image hidden" src="images/Indian_Rupee.png"><label>RS.45656 </label>
				</div>
				
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 detailrow">			
                <div class="row ">
                	<div class="col-sm-12 col-xs-12 detail1">
                   <label>Transaction Detail</label></div>
                </div>
                        
			<div class="row">
				<div class="col-sm-3 col-xs-3 ">
					<img class="wal-image preload-image" src="images/products/amrakhand.png">		
					
				</div>
				<div class="col-sm-6 col-xs-6 heading-wal">
					<label>Amrakhand</label>
					<label>21/1102017</label>
				</div>
				<div class="col-sm-3 col-xs-3 green-lbl">
					<label>Rs.30</label>
					<label>Dr.</label>
				</div>
				
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 detailrow">            
                        
			<div class="row">
				<div class="col-sm-3 col-xs-3 ">
					<img class="wal-image preload-image" src="images/products/amrakhand.png">		
					
				</div>
				<div class="col-sm-6 col-xs-6 heading-wal">
					<label>Amrakhand</label>
					<label>21/1102017</label>
				</div>
				<div class="col-sm-3 col-xs-3 red-lbl">
					<label>Rs.30</label>
					<label>Dr.</label>
				</div>
				
			</div>
		</div>
	</div>


    
</div>-->

<div class="content box-fix-holdsubscription paginator-date-cal" style="width:100% !important;margin-left:0px !important;box-shadow:2px 2px 3px">
    <div class="holdpage hold-subs">
	
		<div class="col-sm-12 col-xs-12 curnt-bal ">

			<h7>Current Balance</h7>
                <div class="row">
                   <label class="curnt-bal-label credit_color">
                       Rs. {{current_balance}} /-
                   </label>
                </div>
                        
			<div class="row">
                                <div class="col-sm-6 col-xs-6 income-icon credit_color" >
                                    <i class="ion-ios-arrow-thin-down"></i><label>Incoming</label>
                                    <label>&nbsp;Rs.{{totalCredit | number :2}} </label>
				</div>
				<div class="col-sm-6 col-xs-6 income-icon debit_color">
                                    <i class="ion-ios-arrow-thin-up"></i><label>Outgoing</label>
                                    <label>&nbsp;Rs.{{totalDebit | number :2}} </label>
				</div>
				
			</div>
		</div>
	
	
    </div>
</div>






<div class="content">  
    <div class="subscription-cart-1" style="padding-top: 80px;">&nbsp;</div>
 </div>
  

  <div class="col-sm-12 col-xs-12">
        <table class="wallet-table" ng-repeat="wallet in wallet_log" >
            
            <!-- Credit -->
            <tr ng-if="wallet['credit_debit']=='1'">
                
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 24px;">
                    <i class="ion-ios-arrow-thin-down amt-wallet-icon credit_color"></i><label class="amt-wallet-lbl credit_color">{{wallet["amount"]}}</label>
                </td>
                
                <td style="width: 30%;">
                    <table class="wallet-sub-table" >
                            <tr>
                                    <td class="trans_date">{{wallet['created_date'] | date :  "MMM d, y"}}</td>
                            </tr>
                            <tr>
                                    <td class="trans_msg_lbl credit_color">Credit</td>
                            </tr>

                    </table>
            	</td>
            </tr>

            <!-- Debit -->
            <tr ng-if="wallet['credit_debit']=='2'">
                
               
                <td style="width: 50%; text-align: left; font-weight: bold;font-size: 24px;">
                    <i class="ion-ios-arrow-thin-up amt-wallet-icon debit_color"></i><label class="amt-wallet-lbl debit_color">{{wallet["amount"]}}</label>
                </td>
                
                <td style="width: 30%;">
                    <table class="wallet-sub-table" >
                            <tr>
                                    <td  class="trans_date">{{wallet['created_date'] | date :  "MMM d, y"}}</td>
                            </tr>
                            <tr>
                                    <td class="trans_msg_lbl debit_color">Debit</td>
                            </tr>

                    </table>
            	</td>
            </tr>
            
            <tr ng-if="wallet['credit_debit']=='2'">
                <td colspan="2" class="invoice_info">
                    <span> Debited against payment of Invoice</span> <span><a href="#!/invoice_detail/{{wallet['invoice_id'] }}"> #{{wallet['invoice_id'] }}</a></span>
                </td>
            </tr>
           
        </table>
</div>





