<div class="content-fullscreen no-bottom">    
    <div class="content payment-tbl">
        
        <div class="clear">&nbsp;</div>
        <table class="order-table" ng-repeat="order in order_list" style="box-shadow: 1px 0px 1px 0px rgba(128, 128, 128, 0.58), 0px 1px 15px 0px rgba(128, 128, 128, 0.58)!important;">
            <tr>
                <td style="width: 30%; text-align: left; font-weight: bold;font-size: 15px;">Date</td>
                <td style="width: 30%; text-align: left"><a href="#!/order_detail/{{order['order_id']}}">{{order['order_date']}}</a></td>
<!--                <td rowspan="3" style="width: 40%; text-align: right"> <a href="#"  class="button button-green">REORDER</a></td>-->
            </tr>
            <tr>
                <td style="text-align: left">Status</td>
                <td style=" text-align: left; font-weight: bold;color:green" ng-if="order['order_status']=='1'">Completed</td>
                 <td style=" text-align: left; font-weight: bold;color:red" ng-if="order['order_status']=='0'">Incomplete</td>
            </tr>
            <tr>
                <td style="text-align: left;font-weight: bold; color: #9c9c9c">Total Cost</td>
                <td style="text-align: left;">Rs.{{order["total_amount"] | number : 2}} /-</td>
            </tr>

        </table>
        <table class="order-table" ng-show="no_list">
            <tr>
                <td>Order list not available.</td>
            </tr>
        </table>
        

    </div>
</div>


