<div class="clear">&nbsp;</div>
<div class="content"> 
  <div class="store-cart-1" style="box-shadow:0 0 20px rgba(0,0,0,0.8);">
	<div class="space-mr"></div>
			<div class="row  order-detail-box">
				<div class="col-sm-12 col-xs-12  addcart2-item">
					<div class="col-sm-6 col-xs-6">
						<label>Order Id:{{order_detail['order_id']}}</label>
					</div>
					<div class="col-sm-6 col-xs-6 bill-lbl">
						<label>{{order_detail['order_date']}}</label>
					</div>
				</div>
                                <div class="decoration decoration-margins decoration-order"></div>
                                
                                <!-- Order Product Listing  -->

				<div class="col-sm-12 col-xs-12 order-detail" ng-repeat="product in product_list">
                                        <h1 >{{product["product_title"]}}</h1> 
					<div class="col-sm-5 col-xs-5">
						<img alt="{{product["product_title"]}}" class="preload-image" ng-src="{{product['product_image'] || 'img/no-image.png'}}">
					</div>
					<div class="col-md-6">
						<div class="col-md-6 col-xs-6">
							<label>Qty. : {{product["product_quantity"]}}</label><br/>
							<label>Wt. : {{product["product_weight"]}}</label><br/>
						
                                                        <label>Rs.  : {{product["product_rate"] | number : 2}}/-</label>
                                                </div>
                                            
					</div>
                                        <div class="decoration " style="margin-bottom:5px;"></div>
				</div>
				
				
                                <!-- Order Product Listing End -->
                                
		
				<div class="col-sm-12 col-xs-12 addcart-item">
					<div class="row">
					<hr>		
						<div class="col-sm-6 col-xs-6">
							<label>Total Amount</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
                                                    <span class="pull-right"><h4>Rs. {{order_detail['total_amount']}}</h4></span>	
						</div>
					</div>
<!--					<hr>-->
<!--					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Delivery Charges</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">Rs. 0.00</span>
						</div>
					</div>-->
<!--					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Discount</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">{{order_detail['discount_amount']}}</span>	
						</div>		
					</div>-->
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Delivery Status</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<label style=" text-align: left; font-weight: bold;color:green" ng-if="order_detail['order_status']=='1'">Completed</label>
                                                        <label style=" text-align: left; font-weight: bold;color:red" ng-if="order_detail['order_status']=='0'">Incomplete</label>
						</div>
					</div>
					
<!--					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Payment Status</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">Paid</span>
						</div>
					</div>-->
                                        
				</div>	
			
			</div>
		</div>  
	
</div>  


