<div class="content-fullscreen tabs-nav">
    <div class="home-tabs ">
        <a class="activate-tab-1 " href="#!/billings" >Invoice</a>
        <a class="activate-tab-2 active-home-tab" >Payment History</a>

        <div class="clear"></div>
    </div>
</div>

<h5 style="text-align:center">Payment History</h5>
<div class="decoration decoration-margins"></div>

<div class="content" >

    <table class="payment-history ">
        <tr class="box-payment">
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%"><img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
        <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="green">Successful</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right;font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="red">Failed</td>
        </tr>
         <tr>
            <td style="width: 25%; text-align: left">9/1/2014</td>
            <td style="width: 25%;text-align: right; font-weight: bold">Rs. 100/-</td>
            <td style="width: 25%">  <img class="responsive-image" src="images/store/pay-1.png" alt="img"></td>
            <td style="width: 25%;text-align: right" class="yellow">Successful</td>
        </tr>
    </table>

    <div class="content">
        <div class="decoration"></div>
    </div>
</div>
