<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-9" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>Stores2Door</title>

        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <link rel="stylesheet" type="text/css" href="styles/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="styles/mobiscroll.jquery.min.css">
       <link rel="stylesheet" type="text/css" href="styles/skin.css">
       <link rel="stylesheet" href="styles/font-awesome.css">
       <link rel="stylesheet" href="styles/message_style.css" type="text/css" media="all">

       <link rel="stylesheet" type="text/css" href="styles/framework.css">
       <link rel="stylesheet" type="text/css" href="styles/ionicons.min.css">
       <link rel="stylesheet" type="text/css" href="styles/pignose.calendar.css" />
       <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
       <link rel="stylesheet" href="styles/bootstrap-datepicker.css" />  
       <link href='styles/bootstrap-datepaginator.css' rel='stylesheet'/>
       <link rel="stylesheet" href="styles/calendar.css">
       <link rel="stylesheet" href="styles/mobiscroll.jquery.min.css">
       <!-- css added by hema -->
       <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
       <link rel="stylesheet" type="text/css" href="styles/commoncalculator.css">
       <link rel="stylesheet" type="text/css" href="styles/emicalculator.css">
       <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
        
       <script type="text/javascript" src="js/jquery.js"></script>
       <script type="text/javascript" src="js/plugins.js"></script>
       <script type="text/javascript" src="js/custom.js"></script>
       <script type="text/javascript" src="js/swiper.min.js"></script>

       <script type="text/javascript" src="js/mobiscroll.jquery.min.js"></script>

       <script src="cordova.js"></script>
    
	 <style>
	.allow-tap {
        height: 100% !important;
        position: fixed!important; 
        z-index: 1050!important; 
        width: 100%!important;
        left: 0!important;
        margin-left:0 !important;
        top: 0!important;
        background-color: rgb(0,0,0)!important;
        background-color: rgba(53, 52, 52, 0.79)!important;
        overflow-x: hidden!important; 
        transition: 0.5s!important; 
        opacity: 1 !important;
        }
/*done by hema*/
/*.noScroll {
    overflow: hidden;
    position:fixed;
}*/

.loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url('images/s2dlogo.png') 50% 40% no-repeat #4CAF50;
background-size: 100px 100px;
text-align: center;
}

.loader_content{
    margin-top: 92%;
    color: #fff;
}

.loader_content h4{
    font-family: "Lato-Bold";
}

.loader_content h3{
    font-family: "Lato-Bold";
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}
		
	 </style>
    </head>

    <body>

        <!-- Show Loader -->

        <div ng-hide="loaderShow" class="screen_loader" id="preloader">
            <div class="spinner">
                <div id="pre_status">&nbsp;</div>
            </div>
        </div>
        <!-- Show Loader Ends -->
		<div class="overlay2"></div>

        <div id="page-transitions">
            <div class="sidebars sidebars-light">
                <div class="sidebar sidebar-left overlay-content">
                    <div class="sidebar-header sidebar-header-image dark-overlay">
                       <!--  <div class="overlay dark-overlay"></div> -->
                        <div class="sidebar-socials">
                            <!--<a class="close-sidebar" href="#"><i class="ion-android-close"></i></a>-->
                            <div class="clear"></div>
                            <div class="outter"><img src="images/s2dlogo.png" class="image-circle"></div>
                        </div>
                        <a href="#!/userinfo" class="sidebar-logo" ng-show="is_session">
                            <strong>{{customer_name}}</strong>
                        </a>
                        <div class="clear"></div>
                        <label style="margin: 5px;/* text-align: center; */color: #fff;">Mahalaxmi Corporation Mart</label>
                    </div>
                    <!-- 
                                        <div class="menu-options icon-background no-submenu-numbers sidebar-menu">
                                            <em class="menu-divider">Navigation</em>
                                            <a class="active-item" href="#!/home"><i class="icon-bg bg-night-dark ion-home"></i><span>Dashboard</span></a>
                    
                                            <a  href="#!/calenderView"><i class="icon-bg bg-red-dark ion-calendar"></i><span>Calendar</span></a>
                                            <a  href="#!/subscription"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Subscription</span></a>
                                            <a  href="#!/myorders"><i class="icon-bg bg-blue-dark ion-ios-analytics"></i><span>My Orders</span></a>
                                            <a href="#!/products"><i class="icon-bg bg-magenta-dark ion-image"></i><span>Our Products</span></a>
                    <!--<a  href="#!/howitworks"><i class="icon-bg bg-orange-dark ion-ios-list-outline"></i><span>How it Works</span></a>-->
                    <!--  <a  href="#!/billings"><i class="icon-bg bg-night-dark ion-heart"></i><span>Billings</span></a>
                     <a href="#!/holdsubscription"><i class="icon-bg bg-green-dark ion-ios-paper-outline"></i><span>Hold Subscription</span></a>
                     <a href="#!/termsofuse"><i class="icon-bg bg-orange-light ion-edit"></i><span>Terms of Use</span></a>
                     <a href="#!/customercare"><i class="icon-bg bg-green-dark ion-ios-chatboxes-outline"></i><span>Customer care</span></a> -->
                    <!--                        <a href="#!/login"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Login</span></a>
                                            <a href="#!/registration"><i class="icon-bg bg-green-dark ion-gear-a"></i><span>Register</span></a>-->
                    <!--  <a href="#!/logout" class="close-sidebar"><i class="icon-bg bg-red-light ion-android-close"></i><span>Logout</span></a>
                     <em class="menu-divider">Copyright <u class="copyright-year"></u>. All rights reserved. V1.0</em>
                 </div> -->


                    <!--work done by hema-->
                    <div class="menu-options icon-background no-submenu-numbers sidebar-menu menu-background">

                            <a class="active-item menu_bar_link" href="#!/offers" style="background: #2f2f2f" ng-show="is_session">
                                <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                        <img data-original="images/offer-tag.png" alt="img" class="preload-image" src="images/offer-tag.png" style="/* display: block; */width: 40px;height: 40px;margin-top: 0px;"></div>
                                    <div class=""><span style="color: #fff!important;">Offers Zone</span></div>
                                </div>
                            </a>
                       
                        <a class="active-item menu_bar_link" href="#!/home">
                            <div class="">
                                <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/home1.png" alt="img" class="preload-image" src="images/home1.png"></div>
                                <div class=""><span>Home</span></div>
                            </div>
                        </a>


                        <a href="#!/products" class="menu_bar_link" ng-show="is_session">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/p1.png" alt="img" class="preload-image" src="images/p1.png"></div>
                                <div class=""><span>All Categories</span></div>
                                <img src="images/next1.png" class="img-responsive" style="
                                position: absolute;
                                top: -2px;
                                right: 10px;
                                width: 30px;
                                height: 30px;
                            " />
                            </div>
                        </a>

                        <a class="active-item menu_bar_link" href="#!/mylist" ng-show="is_session">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/list.png" alt="img" class="preload-image" src="images/list.png"></div>
                                <div class=""><span>My List</span></div>
                            </div>
                        </a>

                        <!-- <a  href="#!/subscription" ng-show="is_session && subscription_id==0" class="menu_bar_link">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 nav-image"><img data-original="images/Subscription1.png" alt="img" class="preload-image" src="images/Subscription1.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Subscription</span></div>
                            </div>
                        </a> -->
                        
                        <!-- <a  href="#!/my_subscription_detail" ng-show="is_session && subscription_id!=0" class="menu_bar_link">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 nav-image"><img data-original="images/Subscription.png" alt="img" class="preload-image" src="images/Subscription.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Subscription</span></div>
                            </div>
                        </a> -->
                        <!-- <a  href="#!/pay_products" ng-show="is_session" class="menu_bar_link">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 nav-image"><img data-original="images/Products.png" alt="img" class="preload-image" src="images/Indian_Rupee.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Sample Products</span></div>
                            </div>
                        </a> -->

                        
                        <a  href="#!/myorders" ng-show="is_session" class="menu_bar_link">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/My_Orders.png" alt="img" class="preload-image" src="images/My_Orders.png"></div>
                                <div class=""><span>My Orders</span></div>
                            </div>
                        </a>
                         

                        <!-- <a  href="#!/billings" ng-show="is_session" class="menu_bar_link">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/Billings.png" alt="img" class="preload-image" src="images/Billings.png"></div>
                                <div class=""><span>Billings</span></div>
                            </div>
                        </a> -->
						
                  

                        <!-- <a href="#!/holdsubscription" ng-show="is_session" class="menu_bar_link">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 nav-image"><img data-original="images/Hold_Subscription.png" alt="img" class="preload-image" src="images/Hold_Subscription.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Hold Subscription</span></div>
                            </div>
                        </a> -->

                        <!-- <a  href="#!/calenderView" ng-show="is_session" class="menu_bar_link">
                            <div class="row">
                                <div class="col-sm-3 col-xs-3 nav-image"><img data-original="images/Calendar.png" alt="img" class="preload-image" src="images/calendar.png"></div>
                                <div class="col-sm-9 col-xs-9"><span>Calendar</span></div>
                            </div>
						</a> -->
						
                        <!-- <a  href="#!/wallet" ng-show="is_session" class="menu_bar_link">
                            <div class="">  
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/Indian_Rupee.png" alt="img" class="preload-image" src="images/Indian_Rupee.png"></div>
                                <div class=""><span>Wallet</span></div>
                            </div>
                        </a>

                        <a  href="" ng-show="is_session" class="menu_bar_link">
                            <div class="">  
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/change.png" alt="img" class="preload-image" src="images/change.png"></div>
                                <div class=""><span>Change Store</span></div>
                            </div>
                        </a> -->


                        <a href="#!/termsofuse" class="menu_bar_link">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/Terms_of_Use.png" alt="img" class="preload-image" src="images/Terms_of_Use.png"></div>
                                <div class=""><span>Terms of Use</span></div>
                            </div>
                        </a>

                       
                        <a href="#!/customercare" class="menu_bar_link">
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/Customer_care.png" alt="img" class="preload-image" src="images/Customer_care.png"></div>
                                <div class=""><span>Help & Support</span></div>
                            </div>
                        </a>
                        <a href="#!/logout" class="close-sidebar menu_bar_link" ng-show="is_session" ng-click="logout()" >
                            <div class="">
                                    <div class="nav-image" style="float: left;margin-right: 10px;">
                                    <img data-original="images/Logout.png" alt="img" class="preload-image" src="images/Logout.png"></div>
                                <div class=""><span>Logout</span></div>
                            </div>
                        </a>
                        <!-- <em class="menu-divider">&#9400; <u class="copyright-year"></u>.<u style="text-align: right;float: right;padding-right: 10px;"> All rights reserved. V {{ APP_Version }}</u></em> -->
                    </div>
                </div>

            </div>

            <div class="header header-logo-center header-light" id="wrap">
                    <div id="hearder-data">  
                <a  href="#" class="header-icon header-icon-1 hamburger-animated open-sidebar-left"></a>
                <a href="#!/home" class="header-logo">{{page_heading}}</a>
<!--             <a href="#!/" class="header-icon header-icon-3 wallet" data-toggle="modal" data-target="#walletModal"><img src="images/wallet_icn.png"></img> <span class="item-amount ">888</span></a>-->
                <a href="#!/addcart" class="header-icon header-icon-3" ng-show="is_session"><i class="ion-ios-cart"></i> <span class="item-number ">{{cart_count}}</span></a>
            </div>
        </div> 
            
            <!--autoscroll="true"-->
            <!-- UI View (View Container) -->
            <div id="page-content" class="page-content">
                <div class="header-clear"><!--Enables this element to be scrolled -->
                    <section id="uiview" ui-view ></section>
                    <div class="clear"></div>
                </div>
            </div>

            <a href="#" class="back-to-top-badge"><i class="ion-ios-arrow-up"></i></a>

            <!--  Footer -->
            <div class="footer footer-light">
                <a href="#!/home" class="footer-logo"></a>
                <!--<p class="copyright-text">&copy; Copyright <span class="copyright-year"></span>. All rights reserved</p>-->
            </div>

   

        <div class="loader" style="display:none" id="mydiv">     
            <div class="loader_content">
                <h3>Stores2Door</h3>
                <h4>Grocery App</h4>
            </div>
            
          </div>
        </div>  
            <script>
                (function(){
             var myDiv = document.getElementById("mydiv"),
         
               show = function(){
                 myDiv.style.display = "block";
                 setTimeout(hide, 5000); // 5 seconds
               },
         
               hide = function(){
                 myDiv.style.display = "none";
               };
         
             show();
           })(); 
           </script>

        <!-- build:js scripts/vendor.js -->
        <!-- injector:bowerjs -->

        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-mocks/angular-mocks.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-animate/angular-animate.js"></script>
        <script src="lib/angular-touch/angular-touch.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="lib/angular-ui-utils/ui-utils.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/snapjs/snap.min.js"></script>
        <script src="lib/angular-snap/angular-snap.min.js" type="text/javascript"></script>
        <script src="js/moment.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
         <script src="js/calendar.js"></script>    
        <script src="js/bootstrap-datepaginator.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/mobiscroll.jquery.min.js"></script>
       
        <!-- endbuild -->

        <!-- build:js scripts/custom.js -->
        <!-- injector:js -->
        <script src="js/config.js"></script>
        <script src="js/application.js"></script>
        <script src="js/classie.js"></script>
        <script src="js/developerService.js"></script>
        <!-- Bootbox aleret js -->
        <script src="js/bootbox.min.js"></script>


        <!-- Core Module  -->
        <script src="modules/core/core.js"></script>        
        <script src="modules/core/config/routes.js"></script>
        <script src="modules/core/controllers/login.js"></script>
        <script src="modules/core/controllers/registration.js"></script>
        <script src="modules/core/services/restAPIService.js"></script>
        <script src="modules/core/controllers/home.js"></script>   
        <script src="modules/core/controllers/otp.js"></script>
        <script src="modules/core/controllers/enterOtp.js"></script>
        <script src="modules/core/controllers/referralCode.js"></script>
        <script src="modules/core/controllers/userinfo.js"></script>
        <script src="modules/core/controllers/termsofuse.js"></script>
        <script src="modules/core/controllers/howitworks.js"></script>
        <script src="modules/core/controllers/customercare.js"></script>
        <script src="modules/core/controllers/offers.js"></script>
        <script src="modules/core/controllers/our-recommandations.js"></script>
        <script src="modules/core/controllers/best-sellers.js"></script>
        


        <!-- Product Module --> 
        <script src="modules/products/products.js"></script>
        <script src="modules/products/services/restAPIService.js"></script>
        <script src="modules/products/config/routes.js"></script>
        <script src="modules/products/controllers/products.js"></script>
        <script src="modules/products/controllers/products_cat1.js"></script>
        <script src="modules/products/controllers/products_cat2.js"></script>
        <script src="modules/products/controllers/products_Item.js"></script>
        <script src="modules/products/controllers/pay_products.js"></script>
        <script src="modules/products/controllers/Beauty_products.js"></script>
        <script src="modules/products/controllers/Beverage_products.js"></script>
        <script src="modules/products/controllers/Cleaning_products.js"></script>
        <script src="modules/products/controllers/meat_products.js"></script>
        <script src="modules/products/controllers/beauty_cat1.js"></script>
        <script src="modules/products/controllers/beauty_cat2.js"></script>
        <script src="modules/products/controllers/beverage_cat1.js"></script>
        <script src="modules/products/controllers/beverage_cat2.js"></script>
        <script src="modules/products/controllers/cleaning_cat1.js"></script>
        <script src="modules/products/controllers/cleaning_cat2.js"></script>
        <script src="modules/products/controllers/meat_cat1.js"></script>
        <script src="modules/products/controllers/meat_cat2.js"></script>
        <script src="modules/products/controllers/fruits_products.js"></script>
        <script src="modules/products/controllers/Grumnats_products.js"></script>
        <script src="modules/products/controllers/snacks_products.js"></script>
        <script src="modules/products/controllers/mylist.js"></script>
        <script src="modules/products/controllers/sub_category.js"></script>
        <script src="modules/products/controllers/under_sub_category.js"></script>

        <!-- Billing Module -->
        <script src="modules/billing/billing.js"></script>
        <script src="modules/billing/services/billingAPIService.js"></script>
        <script src="modules/billing/config/routes.js"></script>
        <script src="modules/billing/controllers/billings.js"></script>

        <!-- Cart Module -->
        <script src="modules/cart/cart.js"></script>
        <script src="modules/cart/services/restAPIService.js"></script>
        <script src="modules/cart/config/routes.js"></script>
        <script src="modules/cart/controllers/addcart.js"></script>
        <script src="modules/cart/controllers/delevery_type.js"></script>
        <script src="modules/cart/controllers/make_payment.js"></script>
        <script src="modules/cart/controllers/date-time.js"></script>
        <script src="modules/cart/controllers/shiping-info.js"></script>
        <script src="modules/cart/controllers/order-summary.js"></script>

        <!-- Subscription Module -->
        <script src="modules/subscription/subscription.js"></script>
        <script src="modules/subscription/services/restAPIService.js"></script>
        <script src="modules/subscription/config/routes.js"></script>
        <script src="modules/subscription/controllers/subscription.js"></script>
        <script src="modules/subscription/controllers/holdsubscription.js"></script>
		<script src="modules/subscription/controllers/calendar_view.js"></script>
        <script src="modules/subscription/controllers/my_subscription_detail.js"></script>
        <script src="modules/subscription/controllers/unsubscription_detail.js"></script>

		
        <!-- Orders Module -->
        <script src="modules/orders/orders.js"></script>
        <script src="modules/orders/services/restAPIService.js"></script>
        <script src="modules/orders/config/routes.js"></script>
         
        <script src="modules/orders/controllers/myorders.js"></script>
        
        
        <!-- Wallet & Advance Payment Module -->
        <script src="modules/wallet/wallet.js"></script>
        <script src="modules/wallet/services/walletAPIService.js"></script>
        <script src="modules/wallet/config/routes.js"></script>
	<script src="modules/wallet/controllers/wallet.js"></script>

        
        <script src="modules/wallet/services/AdvancePaymentAPIService.js"></script>
 	<script src="modules/wallet/controllers/advance_payment.js"></script>

        
<!-- Bootbox aleret function -->
<script>
        
        /*
		$(".sidebars-light a").click(function(e) {
            bootbox.alert("Hello world!", function() {
                console.log("Alert Callback");
            });
        });*/
    </script> 


<script>
        $(document).ready(function() {
            $(".sidebars-light a").click(function() {
                $(".sidebar").removeClass("sidebar-left-active");
                $("#page-content").removeClass("body-left-effect");
                $(".header").removeClass("body-left-effect");
                $(".header-icon em").removeClass("hm1a hm2a hm3a");
            });
            });                            
    

</script>
	<!-- Bootbox aleret function end -->
        <!-- <script>
                        $('#page-content').bind('DOMSubtreeModified',function(event) {
                            $('#sidebar-tap-close').removeClass();
                            $('.sidebar').removeClass('sidebar-left-active sidebar-right-active');
                            $('.header').removeClass('sidebar-large-left-body-active sidebar-large-right-body-active body-right-effect sidebar-small-right-body-active body-left-effect sidebar-small-left-body-active');
                            $('#page-content').removeClass();
                            $('.open-sidebar-left, .open-sidebar-right').find('em').removeClass('hm1a hm2a hm3a dm1a dm2a');	
                            $('#sidebar-tap-close').removeClass('allow-tap');
                            $('#page-content').removeClass('noScroll');
                        });
                        $(document).ready(function() {
                            $(".sidebars-light a").click(function() {
                                $(".sidebar").removeClass("sidebar-left-active");
                                $("#page-content").removeClass("body-left-effect");
                                $(".header").removeClass("body-left-effect");
                                $(".header-icon em").removeClass("hm1a hm2a hm3a");
                            });
                            });                            
                    

        </script> -->

        <script type="text/javascript">
            $(window).ready(function(event) {
                var options = {
                    selectedDate: '2013-01-01',
                    onSelectedDateChanged: function(event, date) {
                        var d = new Date(date);
                        $('.loader').show();
                        $.get('date-paginator.php?date=' + d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate(), function(data) {
                            $('.response').html(data);
                            $('.loader').hide();
                        });
                    }
                }
                $('#paginator').datepaginator(options);
               
            });

        </script>
        <!-- endbuild -->
        <!--    <div id="preloader" ng-hide="!loading">
                <div id="pre_status" >&nbsp;</div>
            </div>-->

    </body>
</html>



<!--done by hema-->
<!-- Modal for Document list -->
<div id="walletModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body">
        <h1 class="wallet_modal_h1">Make a Payment</h1>
        <label>Wallet Balance Rs.250...</label>
      </div>
      </div>
      
    </div>

  </div>
</div>