/* payment page css */
.screen_loader {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: alpha(opacity=80);
    z-index: 10000;
}
#pre_status {
    width: 290px;
    height: 300px;
    position: absolute;
    background-image: url(../preload2.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
.spinner {
    z-index: 9999999;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}
.pay-header{  
    background-color: #fec804;
}
.payment-img-logo{padding-top: 10px;}
.payment-img-logo img{border-radius:50%;width: 125px;height: 125px;border: 4px solid #FFF;margin: 10px;}
.pay-address{
    padding-bottom:10px;
}

.pay-address label{
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    padding-left:130px;
}
.address{
     padding-bottom:10px;
}

.address label{
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    float:right;
}
.payment-content{
    width: 100%;
    height: 1440px;
    padding-top: 650px;
    margin-left: 280px;
}
.payment-content label{font-size:20px;color:blue;}
.payment-footer{width:100%;height: 140px;}
@media (max-width: 736px) and (min-width: 379px){
    .pay-address{
    padding-left:141px;padding-bottom:10px;
}
.address{
     padding-left:415px;padding-bottom:10px;
}
}