<style>
.heading-strip .dark-overlay {
        background-color: #fec804;
}
.contact p a{color:#fff;}
.heading-strip {margin: 0 20px;}
.heading-strip1 {    margin: 15px 15px;
    box-shadow: 0px 0px 6px 0px #988f8f;}
.address p{color: #fff !important;}
.heading-strip p a{color: #fff !important;}

.heading-strip1 h4{
	color: #585252;
}
.heading-strip1 p a{}
</style>

				<div class="address heading-strip heading-strip1 bg-1 contact">
					<h4>Address</h4>
				
					<h5><a style="color: #4caf50 !important;font-weight: bold;">Qunova Technologies Pvt.Ltd.</a></h5>
					<address>E-158/159 ,  1st  Floor, Amar Colony, Lajpat Nagar - 4, 
							New Delhi - 110024.<br/>
						</address>		
							<h4>Customer Care</h4>		
						
							Email: grievances@Stores2Door.co.in <br/>
							Time: Mon - Sat (9:00 - 18:00)  
						
							
					<i class=""></i>

					



					<!-- <div class="overlay dark-overlay"></div> 
					<p><a style="color: #fff !important;">Qunova, Office F-25,1st Floor,</a></p>
					<i class=""></i>
					<!-- <div class="overlay dark-overlay"></div> 
					<p><a style="color: #fff !important;">East Court Mall, Phoenix,</a></p>
					<i class=""></i>
					<!-- <div class="overlay dark-overlay"></div> 
					<p><a style="color: #fff !important;">Viman nagar, Pune - 411014.</a></p>
					<i class=""></i>
					<!-- <div class="overlay dark-overlay"></div> 
				</div>
				<a href="tel:9766078696">
				<div class="heading-strip bg-1 contact"><a href="tel:9766078696"><i class="ion-ios-telephone-outline"></i>
					<h4>Call Us</h4>
					<p><a href="tel:9766078696">+91 9766078696</a></p></a>					
					<!-- <div class="overlay dark-overlay"></div> -->
				</div>
				<!-- </a> -->
				<!-- <div class="decoration decoration-margins"></div>                      <a href="mailto:info@qunovatec.com">     
	                    <div class="heading-strip bg-1 contact"> <a href="mailto:info@qunovatec.com"><i class="ion-email"></i>
						<h4>Email Us</h4>
						<p><a href="mailto:info@qunovatec.com">info@qunovatec.com</a></p></a>
						
						<!-- <div class="overlay dark-overlay"></div> 
					  </div>
					</a>