<div class="decoration decoration-margins"></div>


<div class="content pageapp-login-box box-thank-shadow">
    <div class="one-half-responsive">
        <div class="container heading-style">
            <h4 class="heading-title">Get Started!</h4>
            <i class="ion-ios-email-outline heading-icon"></i>
            <div class="line bg-black"></div>
            <p class="heading-subtitle">
                Please enter OTP . 
            </p>
        </div>
        <div class="container no-bottom">
            <div class="contact-form no-bottom">

                <form ng-submit="VerifyOtp(verifyOtpForm.$valid)"  novalidate="" name="verifyOtpForm" autocomplete="off" role="form">
                    <fieldset>
                        <div class="formFieldWrap">
                            <input type="text" name="otp_no" ng-model="otp_no" placeholder="Enter OTP " class="contactField requiredField" id="otp_no"/>
                            <span ng-show="verifyOtpForm.otp_no.$error.required && submitted" class="help-block">OTP Number is required</span>
                        </div>
                        <div class="formSubmitButtonErrorsWrap contactFormButton">
<!--                            <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="VERIFY OTP" onclick="location.href='#!/userinfo';" data-formId="contactForm"/>-->                           
                            <button type="submit" class="button button-green button-icon button-full half-top full-bottom" >VERIFY OTP</button>  
                        </div>
                    </fieldset>
                </form>

               <!-- <a  class="page-login-forgot"><i class="ion-ios-eye"></i>Forgot Password</a> -->
            <a target="_self" class="page-login-create create-color" ng-click="resendOtp()" >&nbsp;Resend OTP</a>
            <div class="clear"></div>
				
            </div>

       
 			
        </div>
		
         
		
    </div>


</div>
