<div class="decoration decoration-margins"></div>

<h3 class="thin center-text" style="margin-bottom: 20px">How it Works</h3>
<div class="content-fullscreen">
    <div class="staff-slider animate-fade">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="column-center-image">
                    <div class="how-wrap"><i class="ion-erlenmeyer-flask-bubbles"></i></div>
                    <h3>Automated Milking</h3>
                    <p class="half-bottom">
                       Our unique process includes automated washing and heat simulation without human contact
                    </p>
                   
                </div>
            </div>
            <div class="swiper-slide">
                <div class="column-center-image">
                    <div class="how-wrap"><i class="ion-key"></i></div>
                    <h3>Posteurisation</h3>
                    <p class="half-bottom">
                       Our milk is then pasteurised to remove bacteria, helping it stay fresh for long
                    </p>
                  
                </div>
            </div>
            <div class="swiper-slide">
                <div class="column-center-image">
                    <div class="how-wrap"><i class="ion-ios-keypad-outline"></i></div>
                    <h3>Homogenisation</h3>
                    <p class="half-bottom">
                        To ensure a consistant, smooth, and enriching taste, our milk is homodenised to evenly spread only fat content
                    
                </div>
            </div>
            <div class="swiper-slide">
                <div class="column-center-image">
                    <div class="how-wrap"><i class="ion-android-pin"></i></div>
                    <h3>Delivery</h3>
                    <p class="half-bottom">
                        Within, 12 hours of milking, fresh bottles of Qunova are delivered to you doorstep to help you start your day with the best quality
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>