<style>
/*
.footer-logo
{
    bottom: 0px !important; ;        
    position: fixed !important;  
}

#page-content
{
    height: -webkit-fill-available !important;
}*/
</style>
<div class="decoration decoration-margins"></div>

<form ng-submit="Login(loginForm.$valid)"  novalidate="" name="loginForm" autocomplete="off" role="form">
    <div class="pageapp-login-box login-background-box login-effect6 box-thank-shadow">
        <a href="#" class="pageapp-login-logo">
            <img src="images/s2dlogo.png" alt="img">

        </a>
        <div class="login-input">
        <h1>Get Started with Us!</h1>
        <h4>OTP will be sent to this number</h4>
           <!--  <i class="login-icon ion-person"></i> -->
           <div class="row">
           <div class="col-sm-8 col-xs-8">
            <input type="tel" placeholder="MobileNumber" maxlength="10" ng-pattern="ph_numbr" onfocus="if (this.value == '') this.value = ''"  name="mobile_no" ng-model="mobile_no" required maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
            <span ng-show="loginForm.mobile_no.$error.required && submitted" class="help-block" style="margin-left:20px;" >Mobile Number is required</span>
			<span ng-show="loginForm.mobile_no.$error.pattern && submitted" class="help-block">Enter valid mobile number.</span>
           </div>
           <div class="col-sm-2 col-xs-2">
             <button type="submit" class="button button-blue button-go" >Go</button>
           </div>
           </div>     
       </div>                
        <!--<div class="pageapp-login-input">
                <i class="login-icon ion-locked"></i>
                <input type="password" placeholder="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
        </div>-->
        <div class="pageapp-login-links">
                <!-- <a  class="page-login-forgot"><i class="ion-ios-eye"></i>Forgot Password</a> -->
            <a href="#!/registration" class="page-login-create create-color"><!-- <i class="ion-person"></i> -->&nbsp;Create Account</a>
            <div class="clear"></div>
        </div>
        <!-- <button type="submit" class="button button-green button-icon login-btn" >Create Account</button>  --> 
        
    </div>
</form>
