<div class="decoration decoration-margins"></div>

<div class="content pageapp-login-box" style="box-shadow: 1px 0px 1px 0px rgba(128, 128, 128, 0.58), 0px 1px 15px 0px rgba(128, 128, 128, 0.58)!important;">
    <div class="one-half-responsive">
        <div class="container heading-style">
            <h4 class="heading-title">Get Started!</h4>
            <i class="ion-locked active"></i>
            <div class="line bg-black"></div>
            <p class="heading-subtitle">
                OTP will be sent to this number
            </p>
        </div>
        <div class="container no-bottom">
            <div class="contact-form no-bottom">
                <!--<div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                        <div class="notification-medium bg-green-light">
                                <h1>OTP Sent!</h1>
                                <p>
                                        We'll be back shortly!
                                </p>
                                <a href="#" class="hide-notification"><i class="fa fa-times"></i></a>
                        </div>
                </div>-->

               <form ng-submit="VerifyOtp(otpForm.$valid)"  novalidate="" name="otpForm" autocomplete="off" role="form">
                    <fieldset>
                        <div class="formFieldWrap">
                            <label class="field-title contactNameField" for="contactNameField">Enter Number:<span>(required)</span></label>
                            <input type="text" name="otp_no" ng-model="otp_no"  placeholder="Enter Number" class="contactField requiredField" id="contactNameField" required/>
                            <span ng-show="otpForm.otp_no.$error.required && submitted" class="help-block">OTP Number is required</span>
                        </div>

                        <div class="formSubmitButtonErrorsWrap contactFormButton btn-align">                            
                             <button type="submit" class="button button-blue half-top full-bottom button-round button-otp">Send OTP</button>  
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>

    </div>


</div>
