<style>

    .box {
	width:100%;
	background:#FFF;
}
.store-cart-1 .cart-item {
    height: 88px;
}
 /*==================================================
 * Effect 6
 * ===============================================*/
.effect6
{
  	position:relative;
  
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
  	position:relative;
   
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

</style>
<h5 style="text-align:center">Our Products</h5>
<div class="decoration decoration-margins"></div>

<div class="content">
    
    <div class="store-cart-1">
       
            <div class="box">
                <div class="cart-item effect6">
                     <a href="#!/productsdetails"><img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">  </a>
                    <h1>Amrakhand</h1>
                    <h4>
                        <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a  class="add-qty"><i class="ion-plus-round"></i></a>
                    </h4>
					 <h3>Rs. 200/-</h3>
					 
					  <h2>Pack of 2 bottles</h2>

                </div>
            </div>
      
         
        <div class="box">
            <div class="cart-item effect6">
                <a href="#!/productsdetails"><img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/products/mango-lassi.png"></a>
                <h1>Mango Lassi</h1>
               
                <h4>
                    <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a  class="add-qty"><i class="ion-plus-round"></i></a>
                </h4>
				 <h3>Rs. 100/-</h3>
                <h2>Qunova India</h2>

            </div>
        </div>
 
        
        <div class="box">
            <div class="cart-item effect6">
                 <a href="#!/productsdetails"><img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/products/special-lassi.png"> </a>
                <h1>Special Lassi</h1>
              
                <h4>
                    <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a  class="add-qty"><i class="ion-plus-round"></i></a>
                </h4>
				  <h3>Rs. 120/-</h3>
                <h2>Qunova India</h2>
            </div>
        </div>
        

       
            <div class="box">
                <div class="cart-item effect6">
                    <a href="#!/productsdetails"> <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png"> </a>
                    <h1>Amrakhand</h1>
                    <h4>
                        <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a  class="add-qty"><i class="ion-plus-round"></i></a>
                    </h4>
					 <h3>Rs. 200/-</h3>
					 
					  <h2>Pack of 2 bottles</h2>

                </div>
            </div>
       <div class="box">
                <div class="cart-item effect6">
                     <a href="#!/productsdetails"><img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png">  </a>
                    <h1>Amrakhand</h1>
                    <h4>
                        <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a  class="add-qty"><i class="ion-plus-round"></i></a>
                    </h4>
					 <h3>Rs. 200/-</h3>
					 
					  <h2>Pack of 2 bottles</h2>

                </div>
            </div>
      
         
        <div class="box">
            <div class="cart-item effect6">
                <a href="#!/productsdetails"><img data-original="images/products/mango-lassi.png" alt="img" class="preload-image" src="images/products/mango-lassi.png"></a>
                <h1>Mango Lassi</h1>
               
                <h4>
                    <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a  class="add-qty"><i class="ion-plus-round"></i></a>
                </h4>
				 <h3>Rs. 100/-</h3>
                <h2>Qunova India</h2>

            </div>
        </div>
 
        
        <div class="box">
            <div class="cart-item effect6">
                 <a href="#!/productsdetails"><img data-original="images/products/special-lassi.png" alt="img" class="preload-image" src="images/products/special-lassi.png"> </a>
                <h1>Special Lassi</h1>
              
                <h4>
                    <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                    <input type="text" value="1" class="qty">
                    <a  class="add-qty"><i class="ion-plus-round"></i></a>
                </h4>
				  <h3>Rs. 120/-</h3>
                <h2>Qunova India</h2>
            </div>
        </div>
        

       
            <div class="box">
                <div class="cart-item effect6">
                    <a href="#!/productsdetails"> <img data-original="images/products/amrakhand.png" alt="img" class="preload-image" src="images/products/amrakhand.png"> </a>
                    <h1>Amrakhand</h1>
                    <h4>
                        <a  class="substract-qty"><i class="ion-minus-round"></i></a>
                        <input type="text" value="1" class="qty">
                        <a  class="add-qty"><i class="ion-plus-round"></i></a>
                    </h4>
					 <h3>Rs. 200/-</h3>
					 
					  <h2>Pack of 2 bottles</h2>

                </div>
            </div>

        <div class="clear"></div>

        <div class="decoration"></div>
    </div>
</div>
