<style>
  input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus{
      outline: 0px auto -webkit-focus-ring-color !important;
   
    }
</style>

<form ng-submit="SignUp(signupForm.$valid)"  novalidate="" name="signupForm" autocomplete="off" role="form">
    <div class="pageapp-login">
        <!-- <a href="#" class="pageapp-login-logo">
            <img src="images/desi-logo.png" alt="img">
        </a> -->

        <!-- <div class="pageapp-login-input">
                                                        
                                <select>
                                    <option class="select-title" value="">-- Salutation --</option>
                                    <option value="o1">Mr.</option>
                                    <option value="o2">Mrs.</option>
                                    <option value="o3">Miss</option>
                                                        
                                </select>
        </div>    --> 
		<div class="bg-registration-box">
	   <div class="pageapp-login-radiobtn reg-radio-box">
            <label><input type="radio" name="gender" value="Mr" ng-model="userObj.salutation"> Mr.</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="gender" value="Mrs" ng-model="userObj.salutation"> Mrs.</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="gender" value="Miss" ng-model="userObj.salutation"> Miss.</label>
        </div>
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-person"></i>
            <input type="text" placeholder="First Name" name="first_name" ng-model="userObj.first_name" required   oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                   
		<span ng-show="signupForm.first_name.$error.required && submitted" class="help-block validation-error">First Name is required</span>
		
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-person"></i>
            <input type="text" placeholder="Last name" name="last_name" ng-model="userObj.last_name" replace="[^a-zA-Z]" with="" required oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                   
		<span ng-show="signupForm.last_name.$error.required && submitted" class="help-block validation-error">Last name is required</span>
		
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-iphone "></i>
            <input type="tel" placeholder="Mobile No" ng-minlength="10" ng-maxlength="10" maxlength="10" name="mobile_no" ng-model="userObj.mobile_no" required ng-pattern="/^[2-9]\d{9}$/" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');">
        </div>                     
		<span ng-show="signupForm.mobile_no.$error.required && submitted" class="help-block">Mobile Number is required</span>
                <span ng-show="signupForm.mobile_no.$error.pattern && submitted" class="help-block">Enter valid mobile number.</span>

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-at"></i>
            <input type="email" placeholder="Email Address" name="email_id" ng-model="userObj.email_id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required >
        </div>                     
		<span ng-show="signupForm.email_id.$error.required && submitted" class="help-block">Email Address is required</span>
		<span ng-show="signupForm.email_id.$error.pattern && submitted" class="help-block">Please enter a valid Email Address!</span>

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Flat/Plot No" name="flat_plot_no" ng-model="userObj.flat_plot_no" >
        </div>                     

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Society Name" name="building_name" ng-model="userObj.building_name" required>
        </div>        
        <span ng-show="signupForm.building_name.$error.required && submitted" class="help-block">Society Name is required</span>        
        <!-- <div class="pageapp-login-input">
                <i class="login-icon ion-pin"></i>
                <input type="text" placeholder="Street Road" >
        </div>   -->                   
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Landmark" name="landmark" ng-model="userObj.landmark">
        </div>   

        <div class="pageapp-login-ddl">

                <select class=" dropdown-item form-control-registration-ddl" name="city_id" ng-options="city_list.city_id as city_list.city_title for city_list in city_list track by city_list.city_id" ng-model="selectedCityId" ng-change="getSelectedCityLocations(selectedCityId)" required>
                        <option class="select-title" value="">-- Select City --</option>
                        <!-- <option ng-repeat="city_list in city_list">{{city_list.city_title}}</option> -->
                    </select>
            </div>  
            <span ng-show="signupForm.city_id.$error.required && submitted" class="help-block">City is required</span>
        <div class="pageapp-login-ddl">       
            <select class="form-control-registration-ddl" name="location_id" ng-model="userObj.location_id" required>   
                <option class="select-title" value="">-- Select Location --</option>
                <option value="{{location.location_id}}" ng-repeat="location in locations">{{location.location_title}}</option>
            </select>
        </div>         
        <span ng-show="signupForm.location_id.$error.required && submitted" class="help-block">Location is required</span>
        
        <div class="pageapp-login-ddl">       
                <select class="form-control-registration-ddl" name="location_id" required>   
                    <option class="select-title" value="">-- Select Store --</option>
                    <option class="select-title" value="">Mahalaxmi Provision</option>
                   </select>
            </div>         
            <span ng-show="signupForm.location_id.$error.required && submitted" class="help-block">Location is required</span>


        <div class="privacy-chk"> 
            <span>
                <input type="checkbox" placeholder="privacy" name="privacy" ng-model="userObj.privacy" required> I have read & agree to the <a target="_self" ng-click="openTermsPrivacy('term')" style="cursor:pointer"> Terms of Service</a> and <a target="_self" style="cursor:pointer" ng-click="openTermsPrivacy('policy')">App Privacy Policy</a>
                <span ng-show="signupForm.privacy.$error.required && submitted" class="help-block">Please accept Terms of Service.</span>
            </span>
        </div>
</div>
        <!-- <a href="#!/login" class="button button-green button-round button-bold button-xs button-sub"><i class="ion-arrow-left-c"></i>BACK</a> -->
		<button type="submit" style="padding-left:20px !important;" class="button button-green button-round button-bold button-xs button-sub button-regis" >SUBMIT</button>    
		<a href="#!/login" style="padding-left:20px !important;" class="button button-round button-bold button-xs button-sub button-gray button-regis" >CANCEL</a>  		
    
	</div>
</form>

