<style>
.terms-box{
    margin: 5px;
    font-family: "Lato-Regular";
}
</style>
<!-- <div class="content-fullscreen tabs-nav">
    <div class="home-tabs animate-fade">
        <a class="activate-tab-1 active-home-tab" href="#">Terms of Service</a>
        <a class="activate-tab-2" href="#">Privacy Policy</a>

        <div class="clear"></div>
    </div>
</div> -->


<div class="terms-box" id="tab-1">
    <!--<div class="thumb-layout box" style="box-shadow: 1px 0px 1px 0px rgba(128, 128, 128, 0.58), 0px 1px 15px 0px rgba(128, 128, 128, 0.58)!important;">-->
        <div class="thumb-layout box termsofuse-box effect6"> 
<h5 style="text-align:center;padding-top: 20px;">Terms of Service</h5>
<div class="decoration decoration-margins"></div>
          <ul class="termsofuse-ul" style="
          list-style-type: upper-roman;
      ">
                
                <li>
                    
        <p>These terms of use (the “ Terms of Use”) govern your use of our our “Stores2Door” application for mobile and handheld devices (the “ App”). The App are jointly referred to as the “ Platform”. Please read these Terms of Use carefully before you use the services. If you do not agree to these Terms of Use, you may not use the services on the Platform, and we request you to uninstall the App. By installing, downloading or even merely using the Platform, you shall be contracting with Stores2Door and you signify your acceptance to the Terms of Use and other Stores2Door policies (including but not limited to the Cancellation & Refund Policy, Privacy Policy and Take Down Policy) as posted on the Platform from time to time, which takes effect on the date on which you download, install or use the Services, and create a legally binding arrangement to abide by the same.</p>
                </li>          
                <li>
                        <p>   The Platform is operated and owned by Qunova  Technologies Private Limited, a company incorporated under the Companies Act, 1956 and having its registered office at E-158/159 ,  1st  Floor, Amar Colony, Lajpat Nagar - 4, New Delhi - 110024. For the purpose of these Terms of Use, wherever the context so requires, ”you” shall mean any natural or legal person who has agreed to become a buyer or customer on the Platform by providing Registration Data while registering on the Platform as a registered user using any computer systems. The terms “Stores2Door”, “we”, “us” or “our” shall mean Qunova Technologies Private Limited.</p>
                </li>
                
                <li>
                        AMENDMENTS
                        <p> These Terms of Use are subject to modifications at any time. We reserve the right to modify or change these Terms of Use and other Stores2Door policies at any time by posting changes on the Platform, and you shall be liable to update yourself of such changes, if any, by accessing the changes on the Platform. You shall, at all times, be responsible for regularly reviewing the Terms of Use and the other Stores2Door policies and note the changes made on the Platform. Your continued usage of the services after any change is posted constitutes your acceptance of the amended Terms of Use and other Stores2Door policies. As long as you comply with these Terms of Use, Stores2Door grants you a personal, non-exclusive, non-transferable, limited privilege to access, enter, and use the Platform. By accepting these Terms of Use, you also accept and agree to be bound by the other terms and conditions and Stores2Door policies (including but not limited to Cancellation & Refund Policy, Privacy Policy and Notice and Take Down Policy) as may be posted on the Platform from time to time.</p>
                </li>


                   
                <li> Use of Platform and Services
                    <ul style="
                    list-style-type: decimal;
                ">
                        <li>All commercial/contractual terms are offered by and agreed to between Buyers and Merchants alone. The commercial/contractual terms include without limitation price, taxes, shipping costs, payment methods, payment terms, date, period and mode of delivery, warranties related to products and services and after sales services related to products and services. Stores2Door does not have any control or does not determine or advise or in any way involve itself in the offering or acceptance of such commercial/contractual terms between the Buyers and Merchants. Stores2Door may, however, offer support services to Merchants in respect to order fulfilment, payment collection, call centre, and other services, pursuant to independent contracts executed by it with the Merchants.</li>
                        <li>Stores2Door does not make any representation or warranty as to the item-specifics (such as legal title, creditworthiness, identity, etc.) of any of the Merchants. You are advised to independently verify the bona fides of any particular Merchant that you choose to deal with on the Platform and use your best judgment in that behalf. All Merchant offers and third party offers are subject to respective party terms and conditions. Stores2Door takes no responsibility for such offers.</li>
                        <li>
                        Stores2Door neither make any representation or warranty as to specifics (such as quality, value, salability, etc.) of the products or services proposed to be sold or offered to be sold or purchased on the Platform nor does implicitly or explicitly support or endorse the sale or purchase of any products or services on the Platform. Stores2Door accepts no liability for any errors or omissions, whether on behalf of itself or third parties.</li>
                        <li>
                                Stores2Door is not responsible for any non-performance or breach of any contract entered into between Buyers and Merchants on the Platform. Stores2Door cannot and does not guarantee that the concerned Buyers and/or Merchants will perform any transaction concluded on the Platform. Stores2Door is not responsible for unsatisfactory or non-performance of services or damages or delays as a result of products which are out of stock, unavailable or back ordered.
                        </li>
                        <li>
                                Stores2Door is operating an online marketplace and assumes the role of facilitator, and does not at any point of time during any transaction between Buyer and Merchant on the Platform come into or take possession of any of the products or services offered by Merchant. At no time shall Stores2Door hold any right, title or interest over the products nor shall Stores2Door have any obligations or liabilities in respect of such contract entered into between Buyer and Merchant.
                        </li>
                        <li>
                                Stores2Door is only providing a platform for communication and it is agreed that the contract for sale of any of the products or services shall be a strictly bipartite contract between the Merchant and the Buyer. In case of complaints from the Buyer pertaining to Grocery efficacy, quality, or any other such issues, Stores2Door shall notify the same to Merchant and shall also redirect the Buyer to the consumer call center of the Merchant. The Merchant shall be liable for redressing Buyer complaints. In the event you raise any complaint on any Merchant accessed using our Platform, we shall assist you to the best of our abilities by providing relevant information to you,such as details of the Merchant and the specific Order to which the complaint relates, to enable satisfactory resolution of the complaint.
                        </li>
                        <li>Please note that there could be risks in dealing with underage persons or people acting under false pretense.</li>
                        <li>
                                Stores2Door - Use of the Apps (Android and iOS)
                                You agree, undertake and confirm that your use of Platform shall be strictly governed by the following binding principles
                        </li>
                        
                       
                    </ul> 
                </li>
                
                         </ul>       

    </div> 
    <!--<div class="decoration"></div>-->

    
</div>
<!--
<div class="content" id="tab-2">

<h5 style="text-align:center">Privacy Policy</h5>
<div class="decoration decoration-margins"></div>    
     <p style="font-size: 12px">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec lectus vitae
metus vehicula cursus. Donec purus ex, ultricies vel iaculis sed, consectetur
venenatis sapien. Quisque auctor justo libero, vel aliquam odio consequat quis.
Nunc accumsan efficitur felis eu egestas.
</p>                

    <div class="content">
        <div class="decoration"></div>
    </div>
</div>  --> 