<style type="text/css">
    html input[disabled]
    {
        background-color: #e2e0e0;
    }
</style>

<form ng-submit="updateProfile(signupForm.$valid)"  novalidate="" name="signupForm" autocomplete="off" role="form">
    <div class="pageapp-login ">
        <!-- <a href="#" class="pageapp-login-logo">
            <img src="images/desi-logo.png" alt="img">
        </a> -->

        <!-- <div class="pageapp-login-input">
                                                        
                                <select>
                                    <option class="select-title" value="">-- Salutation --</option>
                                    <option value="o1">Mr.</option>
                                    <option value="o2">Mrs.</option>
                                    <option value="o3">Miss</option>
                                                        
                                </select>
        </div>    --> 
		<div class="bg-registration-box">
	   <div class="pageapp-login-radiobtn reg-radio-box">
            <label><input disabled="disabled" type="radio" name="gender" value="Mr" ng-model="userObj.salutation"> Mr.</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input disabled="disabled" type="radio" name="gender" value="Mrs" ng-model="userObj.salutation"> Mrs.</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input disabled="disabled" type="radio" name="gender" value="Miss" ng-model="userObj.salutation"> Miss.</label>
        </div>
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-person"></i>
            <input type="tel" placeholder="First Name" name="first_name" ng-model="userObj.first_name" disabled="disabled"  >
        </div>                   
		<span ng-show="signupForm.first_name.$error.required && submitted" class="help-block validation-error">First Name is required</span>

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-person"></i>
            <input type="text" placeholder="Last name" name="last_name" ng-model="userObj.last_name" disabled="disabled">
        </div>   
		<span ng-show="signupForm.last_name.$error.required && submitted" class="help-block validation-error">Last name is required</span>
		
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-iphone "></i>
            <input type="text" placeholder="Mobile No" maxlength="10" name="mobile_no" ng-model="userObj.mobile_no" ng-pattern="ph_numbr" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" disabled="disabled">
        </div>                     
		<span ng-show="signupForm.mobile_no.$error.required && submitted" class="help-block">Mobile Number is required</span>
                <span ng-show="signupForm.mobile_no.$error.pattern && submitted" class="help-block">Mobile Number is invalid</span>
		
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-at"></i>
            <input type="email" placeholder="Email Address" name="email_address" ng-model="userObj.email_address" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required >
        </div>                     
		<span ng-show="signupForm.email_address.$error.required && submitted" class="help-block">Email Address is required</span>
		<span ng-show="signupForm.v.$error.email && submitted" class="help-block">Please enter a valid Email Address!</span>

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Flat/Plot No" name="flat_plot_no" ng-model="userObj.flat_plot_no" >
        </div>                     

        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Society Name" name="building_name" ng-model="userObj.building_name">
        </div>                     
        <!-- <div class="pageapp-login-input">
                <i class="login-icon ion-pin"></i>
                <input type="text" placeholder="Street Road" >
        </div>   -->                   
        <div class="pageapp-login-input reg-input-box">
            <i class="login-icon ion-pin"></i>
            <input type="text" placeholder="Landmark" name="landmark" ng-model="userObj.landmark">
        </div>        
		

        <div class="pageapp-login-ddl">       
            <select class="dropdown-item form-control-registration-ddl" name="location_id" ng-model="userObj.location_id">   
                <option class="select-title" value="">-- Select Location --</option>
                <option  ng-repeat="location_list in locations" value="{{location_list.location_id}}" ng-selected="location_list.location_id==userObj.location_id">{{location_list.location_title}}</option>
            </select>
        </div>    

       <div class="pageapp-login-ddl" style="margin-top:10px;">

            <select class="dropdown-item form-control-registration-ddl" name="city_id" ng-model="userObj.city_id">
                <option class="select-title" value="">-- Select City --</option>
                <option ng-repeat="city_list in city_list" value="{{city_list.city_id}}" ng-selected="city_list.city_id=userObj.city_id" >{{city_list.city_title}}</option>
            </select>
        </div>    		
		
</div>
        
        <button type="submit" style="padding-left:20px !important;" class="button button-green button-round button-bold button-xs button-sub" >Update</button>
        <a href="#!/login" class="button button-gray button-round button-bold button-xs button-back icon-back-button">
            <i class="ion-arrow-left-c"></i>Back</a>
     

   <!-- <a href="#!/login" class="button button-green button-icon button-full half-top half-bottom"><i class="ion-arrow-left-c"></i>BACK</a> -->
    
	</div>
</form>

