<div class="decoration decoration-margins"></div>
<form novalidate="" name="userInfoForm" autocomplete="off" role="form" ng-submit="userInfo(userInfoForm.$valid)">
    <div class="page-content">
        <!-- <div class="pageapp-login">
            <a href="#" class="pageapp-login-logo animate-zoom">
                <img src="images/desi-logo.png">
            </a>
            <div class="pageapp-login-input animate-fade">
                <i class="login-icon ion-person"></i>
                <input type="text" name="first_name" placeholder="First Name" ng-model="user_details.first_name" required>
                <span ng-show="userInfoForm.first_name.$error.required && submitted" class="help-block" style="color:#212870;font-size: 16px !important;">First Name is required</span>
            </div>
            <div class="pageapp-login-input animate-fade animate-delay-100">
                <i class="login-icon ion-android-mail"></i>
                <input type="text" name="email_address" ng-model="user_details.email_address" required placeholder="Email Address">
                <span ng-show="userInfoForm.first_name.$error.required && submitted" class="help-block" style="color:#212870;font-size: 16px !important;">Email Address is required</span>
            </div>
            <button type="submit" class="button button-green button-icon button-full half-top half-bottom" >SUBMIT</button>     
            <!--a href="#!/home" class="button button-green button-icon button-full half-top half-bottom animate-fade animate-delay-400"><i class="ion-ios-arrow-thin-right"></i>SUBMIT</a-->
      <!--   </div>  -->
	  <a target="_self" href="#!/update_profile" class="close-sidebar" ng-show="is_session" ng-click="edit()">
	  <div class="row edit-lnk">
	    <div class="col-sm-2 col-xs-2">
                    <img data-original="images/Pencil1.png" alt="img" class="preload-image" src="images/Pencil1.png">
		</div>
			 <div class="col-sm-10 col-xs-10 label-heading">
					<label>Edit Profile</label>		
		</div>
	  </div></a>
		<div class="pageapp-user">		
			<div class="personal-detail-box">
			
				<div class="row">
					<div class="col-sm-2 col-xs-2 email-detail">
						
						<img data-original="images/person1.png" alt="img" class="preload-image" src="images/person1.png">
						</div>
						<div class="col-sm-10 col-xs-10 label-heading ">
						<h1>Personal Details</h1>
						</div>
						
					</div>
				<div class="row">					
					<hr>
					<div class="col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>First Name</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details lbl-details">
								<label>{{user_details.first_name}}</label>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>Last Name</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details lbl-details">
								<label>{{user_details.last_name}}</label>
							</div>
							
						</div>
					</div>	
				</div> 
			</div>
		
			<div class="mobile-detail-box">
			<div class="row">
					<div class="col-sm-2 col-xs-2 email-detail">
						
						<img data-original="images/Customer_care1.png" alt="img" class="preload-image" src="images/Customer_care1.png">
						</div>
						<div class="col-sm-10 col-xs-10 label-heading ">
						<h1>Phone </h1>
						</div>
						
			</div>
				<div class="row">
									
					<hr>
					<div class="col-sm-4 col-xs-4 lbl-name">
						<label>Mobile No</label>
					</div>
					<div class="col-sm-8 col-xs-8 lbl-details">
						<label>{{user_details.mobile_no}}</label>
					</div>
											
				</div>
			</div>
				<div class="email-detail-box">
					<div class="row">
					<div class="col-sm-2 col-xs-2 email-detail">						
						<img data-original="images/Email1.png" alt="img" class="preload-image" src="images/Email1.png">
						</div>
						<div class="col-sm-10 col-xs-10 label-heading">
						<h1>Email </h1>
						</div>
						
					</div>
					
					<div class="row">
						<hr>
						<div class="col-sm-4 col-xs-4 lbl-name">
							<label>My ID</label>
						</div>
						<div class="col-sm-8 col-xs-8 lbl-details">
							<label>{{user_details.email_address}}</label>
						</div>
												
					</div>
				</div>
				<div class="Address-detail-box">
				<div class="row">
					<div class="col-sm-2 col-xs-2 email-detail">
						<img data-original="images/Dashboard1.png" alt="img" class="preload-image" src="images/Dashboard1.png">
						</div>
						<div class="col-sm-10 col-xs-10 label-heading">
						<h1>Address </h1>
						</div>
						
					</div>
					<div class="row">
						<hr>
							<div class="col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>Flat No</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details ">
								<label>{{user_details.flat_plot_no}}</label>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>Society Name</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details">
								<label>{{user_details.building_name}}</label>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>Landmark</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details">
								<label>{{user_details.landmark}}</label>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>City</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details">
								<label>{{user_details.city_title}}</label>
							</div>
							
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-4 lbl-name">
								<label>Location</label>
							</div>
							<div class="col-sm-8 col-xs-8 lbl-details ">
								<label>{{user_details.location_title}}</label>
							</div>
							
						</div>
						
					</div>					
					</div>
					</div>
				</div>
		
		</div>
	</div>	
	
</form>   

