<style>
.cart-check{
    top: 60px;   
}
</style>



    <div class="decoration decoration-margins"></div>


    <div class="content" >    
      <table class="order-table" ng-show="!cart_count">
            <tr>
                <td>You don't have any products in your cart!!.</td>
            </tr>
        </table>   
        <div class="store-addcart" ng-show="cart_count">
            <div class="row">
                <div class="box col-sm-12 col-xs-12 addcart-item effect6 background-box"  ng-repeat="product in products_cart">
                    <a href="#!/productsdetails">
                        <img  alt="img" class="preload-image" ng-src="{{product.product_image || 'img/no-image.png'}}"> 
                    </a>
                     <h1><a href="#!/productsdetails/{{product['product_id']}}">{{product["product_title"]}}</a></h1>
                    

                           <div class="pageapp-product-radiobtn">
                           <label>{{product.product_weight}}</label><br>
                            <label>Rs. {{product.product_rate | number : 2}}</label>
                            </div>


                            <p class="input-group-product input-number cart-check">
                                <span class="input-group-btn">
                                    <button type="button" class="btn-plus-product btn-danger btn-number"  data-type="minus" ng-click="removeProducts(product.product_id)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" ng-model="product.product_quantity" class="form-control input-number" min="1" max="100">
                                <span class="input-group-btn">
                                    <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,0,1)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>

                            </p>
                            </div>
                            </div>

                            <div class="row" >

                                <div class="col-sm-12 col-xs-12 addcart-item box effect6">
                                    <div class="col-md-12 text-center"> <label>Bill Total</label></div>
                                    <hr>
                                    <div class="row">	
                                        <div class="col-sm-6 col-xs-6">
                                            <label>Total</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 bill-lbl">
                                            <span class="pull-right">Rs. {{cart_amount | number : 2}}</span>	
                                        </div>
                                    </div>
									
<!--                                    <div class="row padd_10">	
                                        <div class="col-sm-6 col-xs-6">
                                            <label>Delivery Charges</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 bill-lbl">
                                            <span class="pull-right">Rs. {{add_deliver_charges | number : 2}}</span>	
                                        </div>
                                    </div>-->
									
                                    <hr>
                                    <div class="row ">	
                                        <div class="col-sm-6 col-xs-6">
                                            <label>Grand Total</label>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 bill-lbl">
                                            <label>Rs. {{total_amount + add_deliver_charges | number : 2}}</label>
                                        </div>		
                                    </div>
                                    <hr>
                                    <!--- 1 : Deliver Today , 2 : Deliver Tomorrow --->

                                    <div class="row">	

                                        <div class="col-sm-12 col-xs-12">
                                            <!--<label><input type="radio" name="delivery" value="1" ng-model="userObj.delivery" ng-click="setDeliveryDay('1',total_amount)">  Delivery Today</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                            <!-- <label><input type="radio" name="delivery" value="2" ng-model="userObj.delivery" ng-checked="true" ng-click="setDeliveryDay('2',total_amount)">Cash On Delivery</label> -->
                                            <!-- <label style="/* float: right; */margin-left: 20px;"><input type="radio" name="delivery" value="" ng-model="userObj.pickup" ng-checked="false" ng-click="setPickupDay()">Self Pick-Up</label> -->
                                        </div>	

                                        <!--
                                        <div class="col-sm-12 col-xs-12" style="color:#4cae4c;text-align: center">
                                                <label ng-if="cart_amount >=300"> Your order will be deliver Today.</label>
                                                <label ng-if="cart_amount <=300"> Your order will be deliver Tomorrow.</label>
                                        </div>		
                                        -->
                                    </div>

                                </div>	
                                
                            </div>
                            </div>

                            <div class="row" ng-show="cart_count" style="text-align:center">
                                
                                <div class="col-sm-12  col-xs-12">
                                   <a href="#!/products" class="button button-round button-blue add-cart-btn">Add more Items</a> 
                                    <!-- <a href="" class="button button-round button-blue proceed-cart-btn" ng-click="placeOrder()">CHECKOUT</a> -->
                                    <a href="#!/delevery_type" class="btn btn-default button-blue proceed-cart-btn">CHECKOUT</a>
                                </div>
                                <!-- <div class="col-sm-12  col-xs-12" ng-show="!is_display_makepayment">
                                    <div class="col-md-12 no_order_accept">Order not accepted between {{ restrict_after | number : 2}} PM To 6:00 AM.</div>
                                    
                                </div> -->

                                
                            </div>


    </div>

