<style>

    .mode-cards{
        display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 2px #928c8c;
    margin: 20px 0px;
    }

    .delevery-box{
        margin: 15px;
    padding: 5px;
    }

    .mode-card1{
        width: 70%;
    padding: 10px;
    /* box-shadow: 0px 0px 0px 6px red; */
    }

    .mode-card2{
          width: 30%;
          padding: 10px;
    }

    .mode-card1 img,.mode-card2 img{
        display: block;
    margin: auto;
    width: 105%;
    height: 80%!important;
    }

    .mode-card1 a{
        background: #4caf50;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
}

    .mode-card2 a{
        background: #4caf50;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
    }

</style>

<div class="delevery-box">
    <h5 style="
    font-size: 16px;
    font-weight: bold;
">Tap to select date and time</h5>
    <div class="mode-cards">
        <!-- <div class="mode-card1">
             <h4>SELF PICK UP</h4>
             <p>You can collect your order from direct store pickup point</p>
             <h5>DELEVERY FREE</h5>
        </div>

        <div class="mode-card2">
                <img src="images/pick.png" class="img-responsive">
                <a class="btn btn-default">Select</a>
        </div> -->
        Date

    </div>

    <div class="mode-cards">
            <!-- <div class="mode-card1">
                    <h4>HOME DELEVERY</h4>
                    <p>3% charges required for your order from direct store pickup point</p>
                    <h5>DELEVERY CHARGES EXTRA</h5>
            </div>
    
            <div class="mode-card2">
                <img src="images/home-icon.png" class="img-responsive">
                <a class="btn btn-default">Select</a>
            </div> -->
            Time
    
        </div>

        <a href="#!/order-summary" class="btn btn-default">Continue</a>

</div>