<style>

    .mode-cards{
        display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 2px #928c8c;
    margin: 20px 0px;
    border-radius: 8px;
    }

    .delevery-box{
        margin: 15px;
    padding: 5px;
    }

    .mode-card1{
        width: 70%;
    padding: 10px;
    /* box-shadow: 0px 0px 0px 6px red; */
    }

    .mode-card2{
          width: 30%;
          padding: 10px;
    }

    .mode-card1 img,.mode-card2 img{
        display: block;
    margin: auto;
    width: 90%;
    height: 60%!important;
    }

    .mode-card1 a{
        background: #4caf50;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 10px;
}

    .mode-card2 a{
        background: #4caf50;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 10px;
    }

    .mode-card2 h5{
        color: red;
    font-weight: bold;
    }

    .mode-card1 h5{
        color: red;
    font-weight: bold;
    }


    .filter-div-hide{
    background: white;
    padding: 5px;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -645px;
    z-index: 20;
    transition: bottom 0.5s;
}

.filter-div-show{
    background: white;
    padding: 5px;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 20;
    transition: bottom 0.3s;
    box-shadow: 0px 0px 15px 5px #635e5e;
}

.sort-div-hide{
    background: white;
    padding: 5px;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -645px;
    z-index: 20;
    transition: bottom 0.5s;
}

.sort-div-show{
    background: white;
    padding: 5px;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 20;
    transition: bottom 0.3s;
    box-shadow: 0px 0px 15px 5px #635e5e;
}

</style>

<div class="delevery-box">
    <h5 style="
    font-size: 16px;
    font-weight: bold;
">Tap to select one of the delevery modes</h5>
    <div class="mode-cards">
        <div class="mode-card1">
             <h4>SELF PICK UP</h4>
             <p>You can collect your order from direct store pickup point</p>
             <h5>DELEVERY FREE</h5>
        </div>

        <div class="mode-card2">
                <img src="images/pick.png" class="img-responsive">
                <a class="btn btn-default" ng-click="showFilter()">Select</a>
        </div>

    </div>

    <div class="mode-cards">
            <div class="mode-card1">
                    <h4>HOME DELEVERY</h4>
                    <p>3% charges required for your order from direct store pickup point</p>
                    <h5>DELEVERY CHARGES EXTRA</h5>
            </div>
    
            <div class="mode-card2">
                <img src="images/home-icon.png" class="img-responsive">
                <a class="btn btn-default" ng-click="showSort()">Select</a>
            </div>
    
        </div>

</div>



<div id="filter_div" class="filter-div filter-div-hide">

        <h5>SELF PICKUP<label  ng-click="hideFilter()" style="
            margin-left: 62%;
        ">X</label></h5> 

<address>E-158/159 ,  1st  Floor, Amar Colony, Lajpat Nagar - 4, 
        New Delhi - 110024.<br/>
    </address>	
           <a href="#!/date-time" class="btn btn-default">Continue</a>
</div>

<div id="sort_div" class="sort-div sort-div-hide">
        <h5>HOME DELEVERY<label  ng-click="hideSort()" style="
            margin-left: 50%;
        ">X</label></h5> 
      
        <a href="#!/date-time" class="btn btn-default">Continue</a>
    </div>