<div class="  paginator-date-cal" style="width:100%;background-color:#fff">
    <div class="holdpage hold-subs">

        <form ng-submit="searchMonthRecord(calendarSearchForm.$valid)"  novalidate="" name="calendarSearchForm" autocomplete="off" role="form">    
            <div class="col-sm-12 col-xs-12 box effect6">
                <div class="col-sm-4 col-xs-4">
                    <select class="dropdown-item form-control-month-ddl" ng-model="month_search" name="month_search" required style="position:absolute;text-align: center;background-color:#fff" >
                        <option ng-repeat="month_list in calendar_month" value="{{month_list.value}}">{{month_list.name}}</option>
                    </select>
                    <span ng-show="calendarSearchForm.month_search.$error.required && submitted" class="help-block" style="margin-left:20px;">Month is required</span>                    
                </div> 
                <div class="col-sm-4 col-xs-4" >
                    <select class=" dropdown-item form-control-month-ddl" ng-model="year_search" name="year_search" required style="position:absolute;text-align: center;background-color:#fff">
                        <option ng-repeat="year_val in calendar_years" value="{{year_val}}">{{year_val}}</option>
                    </select>
                    <span ng-show="calendarSearchForm.year_search.$error.required && submitted" class="help-block" style="margin-left:20px;" >Year is required</span>
                </div>
                <div class="col-sm-4 col-xs-4 cal-submit-btn" style="text-align: right">
                    <button  type="submit" class="rm_search_bg"><i title="Search" class="ion-ios-search-strong search-calendar"></i></button> &nbsp;&nbsp;
                    <button  type="button" class="rm_search_bg"><i title="Reset" class="ion-android-refresh search-calendar" ng-click="resetSearchRecord()" ></i></button>
                    
                </div>
            </div>
        </form>    
        
    </div>
</div>
<br/>
<div class="space-mr"></div>
<div class="decoration decoration-margins"></div>        
     <div class="contentno-bottom cal-strip">       
<!--   <div class="col-sm-12 col-xs-12 box effect6 margin-top-cal">
                <div class="col-sm-4 col-xs-4">
                    <select class="dropdown-item form-control-month-ddl" name="city_id" ng-model="" required style="position:absolute;">
                    <option class="select-title" value="">-- MM --</option>
                   <option>Aug</option>
                   <option>Sep</option>
                   <option>Oct</option>
                     </select>
                 </div> 
                 <div class="col-sm-4 col-xs-4">
                    <select class=" dropdown-item form-control-month-ddl" name="city_id" ng-model="" required style="position:absolute;">
                        <option class="select-title" value="">-- YYYY --</option>
                        <option>2017</option>
                        <option>2018</option>
                        
                    </select>
                </div>
                  <div class="col-sm-4 col-xs-4 cal-submit-btn">
                    <button style="position:absolute;" type="submit" class="button button-green button-round button-bold cal-submit-btn-xs button-regis " >SUBMIT</button>
                    </div>
        </div>-->



<!--        <div id="demo" >

            <div id="ca" ng-app='core' ng-controller="CalenderviewController">
               
            </div>
            <form id="SubscriptionCalenderForm" name="SubscriptionCalenderForm">
                <input type="hidden" ng-model="calendersubscriptionObj.select_date" name="select_date" class="form-control input-number" id="select_date" ng-change="subscription_date_change()">                               
                <span id="subscription_data" style="display: none;">{{subscription_data}}</span>
            </form>
        </div>-->
         

<!--        <h3 style="text-align: center; text-transform: uppercase; font-size: 16px;">Subscription</h3>-->
<!--Design for ddl of month and year-->
 		
        <div class="checklist" style="margin-bottom:10px;width:92%;" ng-repeat="subscription in subscriptions_list"> 
            <div class="checklist-item checklist-item-complete one-half-responsive checklist-bg cal-box-height box-cal effect6 chklist_padd_{{subscription.product.length}} ">
                <em style="padding-left:20px;">{{subscription.month_txt}} {{subscription.date_txt}}<br><span>{{subscription.year_txt}}</span></em>
              <!--  ng-if="subscription.subscription_on_hold=='0'" -->
                <strong>
                    <span class="calendar-view-span" ng-repeat="product_info in subscription.product">
                        <span style="width: 100%;float:left;" ng-class="{'product_on_hold': product_info.subscription_on_hold=='1' }"> {{product_info.product_title}}- {{product_info.product_weight_in_gm}}- {{product_info.product_packet_quantity}} Qty.</span><br/>
                    </span>
                </strong>

              
                <span ng-if="subscription.order_deliver=='0'">  
                        <i class="ion-ios-eye view-icon-calendar" ng-click="view_subscription(subscription.monthly_date,subscription.customer_id)" ></i>
                        <i ng-if="subscription.is_old_record=='0'" class="ion-edit edit-icon-calendar" ng-click="edit_popup(subscription.monthly_date,subscription.customer_id)" ></i>	
                </span>	
              
              
                <span ng-if="subscription.order_deliver=='1'">  
                        <i class="ion-ios-eye view-icon-calendar" ng-click="view_subscription(subscription.monthly_date,subscription.customer_id)" ></i>
                        <i  class="ion-checkmark-round order_delivered_icon" ></i>	
                </span>	
                
<!--            <strong ng-if="subscription.subscription_on_hold=='1'">
                    <span  style="margin-bottom:5px;color:red;font-weight: bold" >
                        On Hold
                    </span>
                </strong>-->
            </div> 
        </div>
         <div class="box-subs-Notfound effect6" ng-show="no_list" style="width:96% !important;margin-right:2% !important;;margin-left:2% !important;">Monthly records not available....</div>

        </div>
<script>
  window.onload = function () {  
     var aaa = $('#subscription_data').html();     
     //alert(aaa);return false;
    $('#ca').calendar({
        // view: 'month',s
        eventList: true,
        width: 320,
        height: 320,
        // startWeek: 0,
        // selectedRang: [new Date(), null],
       // data: element.scope().subscription_data,
        data: aaa,
        onSelected: function(view, date, data) {
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));            
            var new_date = changeDateFormat(date);
            //angular.element($("#ca")).scope().subscription_date_change(new_date);
        }
    });

    $('#dd').calendar({
        trigger: '#dt',
        // offset: [0, 1],
        zIndex: 999,
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
    
     function changeDateFormat(olddate) {

        var date = new Date(olddate);
        var thedate = date.getDate();
        var themonth = parseInt(date.getMonth() + 1);
        var theyear = date.getFullYear();
        var newdate = theyear + '-' + themonth + '-' + thedate;
        return newdate;
    }
}
</script>

