<div class="modal-body">    
    <div id="product-list"></div>
    <div class="row" ng-repeat="product in product_detail_view">
        
        <div class="col-sm-2 col-xs-2">
            <a><img data-original="{{product.product_image}}" alt="img" class="preload-image" src="{{product.product_image}}" style="width:60px;height:80px; margin-left:0px">  </a>
        </div>        
        <div class="col-sm-8 col-xs-8 view-modal-cal">
            <h5>{{product.product_title}}</h5>
            <!-- <div class="pageapp-product-radiobtn"> -->
            
            <label>{{product.product_weight_in_gm}} /</label>            
            <label>Rs. {{product.product_rate}}</label>
            <!-- </div>-->
            <h5>Qty. : {{product.product_packet_quantity}}</h5>
            
            <p ng-if="product.subscription_on_hold=='1'">
                
                <span class="modal-hold " ng-if="chkdate_diff(subscription_date_sel) <= 0" ><i class="ion-locked"></i><label class="hold_unhold_lbl">On Hold</label></span>
                
                
                <span ng-if="chkdate_diff(subscription_date_sel) > 0">
                    <a target="_self" ng-click="funUnHoldSubscription('{{product.product_id}}')">
                        <span class="modal-unhold"><i class="ion-unlocked"></i><label class="hold_unhold_lbl"> Unhold</label></span>
                       
                    </a>
                </span>    
            </p>
           																		
        </div>
<!--        <div class="col-sm-2 col-xs-2">
            <a style="cursor:pointer" ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')">
                            <div class="modal-hold"><i class="ion-locked"></i>
                                <div>
                                    <label> Hold</label>
                                </div>
                            </div>
                        </a>
                        <a style="cursor:pointer" ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')">
                        <div class="modal-unhold"><i class="ion-unlocked"></i>
                            <div>
                                <label> Unhold</label>
                            </div>
                        </div>
                        </a>
        </div>-->
    
    </div>
</div>
<div class="modal-footer">      
    <button class="btn" ng-click="cancel()">Close</button>
</div>