<div class="modal-body">  
    <div class="row" ng-repeat="product in product_detail_edit">
        <div class="col-sm-2 col-xs-2 cal-edit-img">
            <a><img data-original="{{product.product_image}}" alt="img" class="preload-image" src="{{product.product_image}}">  </a>
        </div>
        <div class="col-sm-8 col-xs-8 cal-edit-popup">
            <h5>{{product.product_title}}</h5>
            <!-- <div class="pageapp-product-radiobtn"> -->
           
            <label> {{product.product_weight_in_gm}} /</label>            
            <label>Rs. {{product.product_rate}} </label>
            <!-- </div>-->            
            <p class="input-group-subs input-number input-prod" style="margin-right:50px;" ng-if="product.subscription_on_hold=='0'">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number"  data-type="minus" ng-click="remove_product($index,product.product_packet_quantity)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text"  class="form-control input-number" ng-model="product.product_packet_quantity" min="1" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" data-type="plus"  ng-click="add_quantity($index,product.product_packet_quantity)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </p> 
            <p ng-if="product.subscription_on_hold=='1'">
                <span class="on_hold_txt">On Hold</span>
            </p>
            
        </div>
<!--        <div class="col-sm-2 col-xs-2">
            <a style="cursor:pointer" ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')">
                            <div class="modal-hold"><i class="ion-locked"></i>
                                <div>
                                    <label> Hold</label>
                                </div>
                            </div>
                        </a>
                        <a style="cursor:pointer" ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')">
                        <div class="modal-unhold"><i class="ion-unlocked"></i>
                            <div>
                                <label> Unhold</label>
                            </div>
                        </div>
                        </a>
        </div>-->
    </div>
    <table class="order-table" ng-show="product_detail_edit.length==0">
            <tr>
                <td>Product list not available.</td>
            </tr>
        </table>
</div>
<div class="modal-footer">   
    <button class="btn" ng-click="edit_subscription_product()" >Submit</button>
    <button class="btn" ng-click="cancel()">Close</button>
</div>