<div class="modal-body">
    <div class="abt-modal">
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="1" ng-checked="is_sun_check" ng-model="is_sun" ng-click="toggledaySelection('1')"> Sunday</label>
            </div>                                                     
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="2" ng-checked="is_mon_check" ng-model="is_mon" ng-click="toggledaySelection('2')"> Monday</label>
            </div>                                                    
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="3" ng-checked="is_tue_check" ng-model="is_tue" ng-click="toggledaySelection('3')"> Tuesday</label>
            </div>                                                      
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="4" ng-checked="is_wen_check" ng-model="is_wen" ng-click="toggledaySelection('4')"> Wednesday</label>
            </div>                                                      
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="5" ng-checked="is_thu_check"  ng-model="is_thu" ng-click="toggledaySelection('5',customized_product_id,is_thu)"> Thursday</label>
            </div>                                                       
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="6" ng-checked="is_fri_check" ng-model="is_fri" ng-click="add_days_customize('6',customized_product_id,is_fri)"> Friday</label>
            </div>                                                     
        </div>
        <div class="row" style="margin:20px 0;">
            <div class="col-sm-6 col-xs-6 modal-days">
                <label><input type="checkbox" name="day1" value="7" ng-checked="is_sat_check" ng-model="is_sat" ng-click="add_days_customize('7',customized_product_id,is_sat)"> Saturday</label>
            </div>                                                           
        </div>
    </div>
</div>
<div class="modal-footer">      
    <button class="btn" ng-click="submit_custmize()">Submit</button>
    <button class="btn" ng-click="cancel()">Close</button>
</div>