<div class="content-fullscreen no-bottom">

    <div id="demo">

        <div id="ca"></div>
    </div>
</div>

<div class="content">
    <div class="hold-subs-cart-1" style="padding-top: 10px;">
        <div class="row">
             <div class="all-subs">
                <label ng-show="my_subscription.length > 0">
                    <input class=""  type="checkbox" value="None" id="squaredTwo" name="check" ng-checked="selectedAll"  style="width:16px;height:16px;" ng-click="checkAll()">  SELECT ALL
                  </label>               
              </div>
            <div class="col-sm-12 col-xs-12 " ng-repeat="product in my_subscription">               

                <div class="hold-subs-checkbox" >
                  <input type="checkbox" name="hold_product[]" value="{{product['product_id']}}" ng-checked="product.checked"  ng-click="toggleSelection({{product['product_id']}})" style="width:16px;height:16px;">
                    <div class="hold-subs-item effect6 box"> 
                         <img class="responsive-image" ng-src="{{product['product_image'] || 'img/no-image.png'}}">
                         <!--<span><label  class="subs-title">Buffalo Milk</label></span> -->
                         <h1>{{product["product_title"]}} &nbsp; <label>{{product["product_weight"]}}</label></h1>
                    </div>

                </div>
            </div>    

        </div>
    </div>
</div>

<div class="content holdpage hold-subs">
    <form id="holdSubscriptionForm" name="holdSubscriptionForm">
        <input type="hidden" ng-model="holdsubscriptionObj.start_date" name="start_date" class="form-control input-number" id="start_date">
        <input type="hidden" ng-model="holdsubscriptionObj.end_date" name="end_date" class="form-control input-number" id="end_date">
    </form>
    <p>From Date:</p>
    <div id="paginator"></div>
    <div id="paginator-start-end"></div>
    <p>To Date:</p>
    <div id="paginator1"></div>
    <div id="paginator-start-end"></div>
    <a target="_self" class="hold-btn hidden" ng-click="edit_hold_subscription()" >Edit</a>
     <a target="_self"  class="hold-btn" ng-click="hold_subscription()">Hold</a>
     <a target="_self" class="unsubscribe-btn hidden" ng-click="hold_subscription()">Unsubscribe</a>
    <div class="note-box">
        <strong>Note:</strong> If you want to Stop or Hold delivery for more than 14 days, please call our Customer Care Number <br>
        <span><a href="tel:9766078696">+91 9766078696</a></span>
    </div> 
</div>

<script>
    var todays_date = formatDate(new Date());
    //alert(todays_date);
    var options_start = {
        
        startDate : todays_date,
        selectedDate: todays_date,
        selectedDateFormat: 'YYYY-MM-DD',
        onSelectedDateChanged: function(event, start_date) {
            var new_date = formatDate(start_date);
            var element = angular.element($('#holdSubscriptionForm'));
            element.scope().holdsubscriptionObj.start_date = new_date;
            console.log(element.scope().holdsubscriptionOb);
            $("#start_date").val(new_date);
        }
    }

    var options_end = {
        startDate : todays_date,
        selectedDate: todays_date,
        selectedDateFormat: 'YYYY-MM-DD',
        onSelectedDateChanged: function(event, end_date) {
            var new_date = formatDate(end_date);
            var element = angular.element($('#holdSubscriptionForm'));
            element.scope().holdsubscriptionObj.end_date = new_date;
            $("#end_date").val(new_date);
            console.log(element.scope().holdsubscriptionObj);
        }
    }

    $('#paginator').datepaginator(options_start);
    $('#paginator1').datepaginator(options_end);
    
    function changeDateFormat(olddate) 
    {

        var date = new Date(olddate);
        var thedate = date.getDate();
        var themonth = parseInt(date.getMonth() + 1);
        var theyear = date.getFullYear();
        var newdate = theyear + '-' + themonth + '-' + thedate;
        return newdate;
    }

    function formatDate(date) 
    {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }    
</script>

