<style> 
    .subscription_section {width:100%;}
</style>

<div class="decoration decoration-margins"></div>

<div class="content">  
    <div class="subscription_section subsdetail-date-box effect6" ng-repeat="product in my_subscription">

        <!-- Milk Variant Product List -->
        <div class="store-cart-1" style="margin-top: 11px;">

            <div class="row">
                <div class="col-sm-12 col-xs-12 subs-prouct-list">
				
					<!-- Subscription Detail --->
					<div class="pageapp-login subscription box-subs-detail effect6">
						   <label>With Effect From  :  {{product['subscription_effect_from']}}</label>
					</div>
					<br/>
					<!-- Subscription Detail Ends --->
				
					<div class="pageapp-login subscription box-subs-detail effect6">
						   <label>
							   Subscription Pattern  :  
							   <span ng-if="product['subscription_pattern']=='0'">None</span>
							   <span ng-if="product['subscription_pattern']=='1'">Every Day</span>
							   <span ng-if="product['subscription_pattern']=='2'">Weekdays</span>
							   <span ng-if="product['subscription_pattern']=='3'">Customize</span>
							   <span ng-if="product['subscription_pattern']=='4'">Alternate Day</span>

						   </label>
					</div>
					<br/>
				
				
                    <div class="col-sm-4 col-xs-4">
                        <img  alt="img" class="preload-image" ng-src="{{product['product_image']|| 'img/no-image.png'}}">  
                        <h1>{{product["product_title"]}}</h1>
                     </div>
                   
                    <div class="mysubs-product-radiobtn  ">
                        <!--<label>Units</label>-->
                        <label>{{product["product_weight"]}}</label>
                        <br>
                        <label>Rs. {{product["product_rate"]| number : 2}} /-</label>
                        <br/>
                        <label>Qty. : {{product.packet_quantity}}</label><br/>
                       
                   
                   </div>
                    <div class="col-sm-2 col-xs-2 ">
                        
                            <div class="unsubscribe-subs">
                                    <i class="ion-trash-a" ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')"></i>
                                    <div>
                                            <label ng-click="fun_unsubscribe_product('{{product['product_id'] }}','{{product['subscription_id'] }}')">Unsubscribe</label>
                                    </div>
                            </div>

                        
                        
                            <div class="modify-subs">
                                
                                    <i class="ion-edit" ng-click="modify_popup('{{product['product_id'] }}','{{product['subscription_id'] }}','{{customer_id}}')"></i>
                                
                                <div>
                               
                                    <label ng-click="modify_popup('{{product['product_id'] }}','{{product['subscription_id'] }}','{{customer_id}}')"> Modify</label>
                               
                                </div>
                            </div>
                    </div>

                </div>
                <!--<a  class="hold-btn" ng-click="hold_subscription()" style="width:40%; margin-left: 25px;margin-top: 0px !important;">Modify</a>
                <a  class="unsubscribe-btn" ng-click="hold_subscription()" style="width:40%; margin-right: 25px;">Unsubscribe</a>
                -->
               
                
            </div>
        <hr class="my-subs-hr">
        </div>
        <!-- Milk Variant List Ends-->
       
        <div class="decoration decoration-margins"></div>
    </div>    
    <div class="box-subs-Notfound effect6" ng-if="!my_subscription.length" style="">No Subscription Found...</div>
</div>

    <div class="content my-subs-btn">
        <a style="width:43%" href="#!/subscription" class="view_buttons button-blue button-round button-bold ">Add Subscription</a>
        <a style="width:37%" href="#!/calenderView" class="view_buttons button-blue button-round button-bold ">View Calendar</a>
        <div class="clear"></div>
    </div>

