<div class="modal-body"> 
 <div id="subscription-list"></div> 
    <div class="row" ng-repeat="product in product_detail_edit">
         <h5>Select delivery days</h5>
        <div class="col-sm-6 col-xs-6 cal-edit-img">
             <label> {{product.product_weight_in_gm}} /</label> 
        </div>
        <div class="col-sm-6 col-xs-6 cal-edit-popup">
                      
            <p class="input-group-subs input-number input-prod" style="margin-right:50px;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-number"  data-type="minus" ng-click="remove_product($index,product.product_packet_quantity)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text"  class="form-control input-number" ng-model="product.product_packet_quantity" min="1" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-number" data-type="plus"  ng-click="add_quantity($index,product.product_packet_quantity)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </p> 																			
        </div>
    </div>
    <table class="order-table" ng-show="product_detail_edit.length==0">
            <tr>
                <td>Product list not available.</td>
            </tr>
        </table>
</div>
<div class="modal-footer">   
    <button class="btn" ng-click="edit_subscription_product()">Submit</button>
    <button class="btn" ng-click="cancel()">Close</button>
</div>