<div class="content box-fix-holdsubscription paginator-date-cal" style="width:100% !important;margin-left:0px !important;box-shadow:1px 1px 1px">
    <div class="holdpage hold-subs">
    <form id="subscriptionObjForm" name="subscriptionObjForm">
        <input type="hidden" ng-model="subscriptionObj.date" name="date" class="form-control input-number" id="date">

    </form>
        <p style="font-size:19px !important;font-weight: bold">Start Subscription</p>
        <div id="paginator" class="box-fix-holdsubscription"></div>
        <div id="paginator-start-end"></div>
    </div>
</div>
<div class="space-mr"></div>
<div class="decoration decoration-margins"></div>

<div class="content">  
    <div class="subscription-cart-1" style="padding-top: 100px;">

        <!-- Milk Variant List -->
        <div class="row" ng-repeat="product in product_list">  
            <div class="col-sm-12 col-xs-12 subscription-item effect6 box box-height">
                <img  alt="img" class="preload-image" ng-src="{{product['product_image']|| 'img/no-image.png'}}">
                <span><label  class="subs-title">{{product["product_title"]}} </label></span> 
                <h1>{{product["product_title"]}} <label>{{product["product_weight"]}}</label></h1>

                <div class="pageapp-product-radiobtn margin-top-subscription">
                    <label>Rs. {{product["product_rate"]| number : 2}} /-</label>
                    <p class="input-group-product input-number">
                        <span class="input-group-btn" ng-if="checkproduct_exist(product.product_id)">
                            <button type="button" class="btn-plus-product btn-danger btn-number"  data-type="minus" ng-click="removesubProducts($event,product.product_id)">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        
                        <input ng-show="checkproduct_exist(product.product_id)" type="text" class="form-control input-number" value="{{products_subscription[CheckhasElement('product_id', product['product_id'], products_subscription)].product_quantity}}">
                        <span class="input-group-btn" ng-if="checkproduct_exist(product.product_id)">
                            <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" ng-click="addsubProducts($event,product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </p>
                    
                </div>
                <div class="space-mr"><span ng-if="!checkproduct_exist(product.product_id)" class="already_subscribe">Already Subscribe</span></div>

                <div class="days-radio" ng-show="checkproduct_exist(product.product_id)">
                    <div class="subscription-rd-btn">
                        <label ng-click="mark_active_days_pattern($event, 'daily',{{product.product_id}})"><input type="radio" class="daily"  ng-model="pattern" value="1" ng-change="check_pattern(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type, '1')"> Daily</label>
                        &nbsp;
                        <label ng-click="mark_active_days_pattern($event, 'weekdays',{{product.product_id}})"><input type="radio"  ng-model="pattern"  value="2" ng-change="check_pattern(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type, '2')"> Weekdays</label>
                        &nbsp;
                        <label ng-click="mark_active_days_pattern($event, 'alternate',{{product.product_id}})"><input type="radio" class="alternate" ng-model="pattern" value="4" ng-change="check_pattern(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type, '4')"> Alternate</label>
                        <label><input type="radio" data-toggle="modal" ng-model="pattern" value="3" ng-click="open_customize_popup(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type, '3')"> Customize</label>
                    </div>               
                </div> 
        
                <div class="days" ng-show="checkproduct_exist(product.product_id)">                  
                    <div class="subs-days" ng-repeat="day in subscriptionObj.days">
                        <label class="subs-divide-line {{day}}" ng-click="subscription_day(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type,day)">{{day}}</label>
                        <label class="day_quantity">0</label>
                    </div>                    
                </div>
                
        </div>
    </div>
       <!-- <div class="row" ng-repeat="product in product_list">
            <div class="col-sm-12 col-xs-12 cart-item effect6 box">
                <img  alt="img" class="preload-image" ng-src="{{product['product_image']|| 'img/no-image.png'}}">  
                <h1>{{product["product_title"]}}</h1>
                <div class="pageapp-product-radiobtn margin-top-subscription">
                    <!--                    <label>Units</label>
                    <label>{{product["product_weight"]}}</label>
                    <br>
                    <label>Rs. {{product["product_rate"]| number : 2}} /-</label>
                </div>

            </div>
        </div>
        <!-- <div class="row" ng-repeat="product in product_list">
             <div class="col-sm-12 col-xs-12 cart-item effect6 box">
                 <img  alt="img" class="preload-image" ng-src="{{product['product_image']|| 'img/no-image.png'}}">  
                 <h1>{{product["product_title"]}}</h1>
                 <div class="pageapp-product-radiobtn margin-top-subscription">
        <!--                    <label>Units</label>
        <label>{{product["product_weight"]}}</label>
        <br>
        <label>Rs. {{product["product_rate"]| number : 2}} /-</label>
    </div>


    <p class="input-group-product input-number">
        <span class="input-group-btn">
            <button type="button" class="btn-plus-product btn-danger btn-number"  data-type="minus" ng-click="removesubProducts(product.product_id)">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>
        <input type="text" class="form-control input-number" value="{{products_subscription[CheckhasElement('product_id',product['product_id'],products_subscription)].product_quantity}}">
        <span class="input-group-btn">
            <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" ng-click="addsubProducts(product.product_id, product.product_rate, product.product_quantity, product.product_image, product.product_weight, product.milk_type)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </p>
</div>
</div>-->


        <!-- Milk Variant List Ends-->

    </div>

    <!--<div class="pageapp-login subscription">
        <label>With Effect From</label>
    
        <div class="pageapp-login-input">
    
            <i class="login-icon ion-calendar"></i>
            <input type="text" ng-model="subscriptionObj.date" class="datepicker set-today"></input>
    
        </div>
    
    </div>-->
    <form ng-submit="subscription_submit(subscriptionForm.$valid)"  novalidate="" name="subscriptionForm" autocomplete="off" role="form">
        <div>


            <!-- <div class="pageapp-login subscription box-subs-cal effect6 hidden">
                    <h4>With Effect From</h4>
            
                    <div class="pageapp-login-input">
                      <i class="login-icon ion-calendar"></i>
                                <input calendar ng-model="subscriptionObj.date" min="{{today}}" required name="date"/>                        
                    </div>
                            <span ng-show="subscriptionForm.date.$error.required && submitted" class="help-block validation-error">Subscription date is required</span>
            
                </div>-->

            <!-- 
            
            <div class="decoration decoration-margins" style="margin-top: 10px; margin-bottom: 20px"></div> -->
            <!-- <div class="pageapp-login subscription">
                <h4>Select Product</h4>
                <div class="space-mr"></div>
                <label class="va">Variant</label>
                <div class="select-box">
                    <select>
                        <option class="select-title" value="o0">Select Product</option>
                        <option value="o1">Option 1</option>
                        <option value="o2">Option 2</option>
                        <option value="o3">Option 3</option>
                        <option value="o4">Option 4</option>
                    </select>
                </div>
                <div class="space-mr"></div>
                <label class="va">Quantity</label>
                <input type="text" class="input-text-box input-red-border" value="1">
            
            </div> -->
            <!-- <div class="space-mr"></div>
             <div class="decoration decoration-margins" style="margin-top: 10px; margin-bottom: 20px"></div>-->
            <!--<div class="pageapp-login subscription box-subs-cal effect6">
                <h4>Choose Pattern</h4>
            
                <div class="space-mr"></div>
                <div style="text-align: left">-->
            <!--   <div class="fac fac-radio fac-default "><span></span> -->
            <!--  <div class="fac fac-radio fac-green"><span></span>
             <input  type="radio" name="rd" value="1" checked="">
             <label>Every Day</label>
         </div><br><hr>
            -->
            <!--  <div class="fac fac-checkbox-o fac-green"><span></span>
                 <input id="box3-fac-checkbox-o" type="radio" name="rad" value="1" >
                 <label for="box3-fac-checkbox-o">Weekdays</label>
             </div><br><hr>
                      <div class="fac fac-radio fac-green"><span></span>
                 <input id="box1-fac-radio" type="radio" name="rad" value="1">
                 <label for="box1-fac-radio">Weekends</label>
             </div><br><hr>
             <div class="fac fac-checkbox-o fac-green"><span></span>
                 <input id="box3-fac-checkbox-o" type="radio" name="rad" value="1">
                 <label for="box3-fac-checkbox-o">Customize</label>
             </div><br><hr>
            -->
            <!-- <div class="fac fac-radio fac-default"><span></span>
                <input id="box1-fac-radio" type="radio" name="rad1" value="1">
                <label for="box1-fac-radio">Week</label>
            </div> -->
            <!--  </div> -->
            <!--  <div class="subscription-rd-btn">
                  <label><input type="radio" name="dayss" value="1" ng-model="subscriptionObj.subscription_pattern">&nbsp;&nbsp;&nbsp; Every Day</label><br><hr>
              </div>-->
            <!--        <div class="subscription-rd-btn">
                        <label><input type="radio" name="dayss" value="2" ng-model="subscriptionObj.subscription_pattern">&nbsp;&nbsp;&nbsp; Weekdays</label><br><hr>
                    </div>
                    <div class="subscription-rd-btn">
                        <label><input type="radio" name="dayss" value="3" checked="" ng-model="subscriptionObj.subscription_pattern">&nbsp;&nbsp;&nbsp; Weekends</label><br><hr>
                    </div>-->
            <!--<div class="subscription-rd-btn">
                <label><input type="radio" name="dayss" value="4" ng-model="subscriptionObj.subscription_pattern">&nbsp;&nbsp;&nbsp; Alternate Day</label><br><hr>
            </div>
    
            <div class="subscription-rd-btn">
                <label><input type="radio" name="dayss" value="3" ng-model="subscriptionObj.subscription_pattern">&nbsp;&nbsp;&nbsp; Customize</label><br><hr>
            </div>
            
           <div class="ch-bx except">
                <div class="row  chk-except">
    
                    <div class="col-sm-4 col-xs-4" ng-repeat="day in days">
                        <label>
                            <input type="checkbox" name="selectedFruits[]" value="{{day}}" ng-checked="selection.indexOf(day) > -1" ng-click="toggleSelection(day)"> 
                             {{day}}
                        </label>  
                    </div>          
                </div>   
            </div>
            
    
        </div>
     </div>  
             <div class="col-sm-4 col-xs-4" ng-repeat="day in days">
                    <label>
                        <input type="checkbox" name="days[]" value="{{day}}" ng-checked="selection.indexOf(day) > -1" ng-click="toggleSelection(day)">{{day}}</label>  
                </div>   
        </div>-->    

            <div class="sub-btn">
                <button type="submit" class="button button-green button-round button-bold button-xs button-sub button-regis " >SUBMIT</button>
            </div>
    </form>
</div>
<style>
.active_day{        
    background-color: #accce8;
}
</style>
<script>
    var todays_date = formatDate(new Date());
    //alert(todays_date);
    var options_start = {
        
        startDate : todays_date,
        selectedDate: todays_date,
        selectedDateFormat: 'YYYY-MM-DD',
        onSelectedDateChanged: function(event, date) {
            var new_date = formatDate(date);
            var element = angular.element($('#subscriptionObjForm'));
            element.scope().subscriptionObj.date = new_date;
            //$("#date").val(date);
        }
    }

   
    $('#paginator').datepaginator(options_start);
    
    function changeDateFormat(olddate) 
    {

        var date = new Date(olddate);
        var thedate = date.getDate();
        var themonth = parseInt(date.getMonth() + 1);
        var theyear = date.getFullYear();
        var newdate = theyear + '-' + themonth + '-' + thedate;
        return newdate;
    }

    function formatDate(date) 
    {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }    
</script>
