<style>
    .subscription_section { width:100%;}
</style>

<div class="decoration decoration-margins"></div>

<div class="content">  
     
   
    <div class="subscription_section subsdetail-date-box effect6" ng-repeat="subscription_info in my_subscription">
        <!-- Subscription Detail --->
        <div class="pageapp-login subscription box-subs-detail effect6">
               <label>With Effect From  :  {{subscription_info.subscription_effect_from}}</label>
        </div>
        <br/>
        <div class="pageapp-login subscription box-subs-detail effect6">
               <label>
                   Subscription Pattern  :  
                   <span ng-if="subscription_info.subscription_pattern=='0'">None</span>
                   <span ng-if="subscription_info.subscription_pattern=='1'">Every Day</span>
                   <span ng-if="subscription_info.subscription_pattern=='2'">Weekdays</span>
                   <span ng-if="subscription_info.subscription_pattern=='3'">Weekends</span>
                   <span ng-if="subscription_info.subscription_pattern=='4'">Alternate Day</span>

               </label>
        </div>
        <br/>
        <!-- Subscription Detail Ends --->

        <!-- Milk Variant Product List -->
        <div class="store-cart-1">

            <div class="row" ng-repeat="product in subscription_info.product_info">
                <div class="col-sm-12 col-xs-12 subs-prouct-list">
                    <img  alt="img" class="preload-image" ng-src="{{product['product_image']|| 'img/no-image.png'}}">  
                    <h1>{{product["product_title"]}}</h1>
                    <div class="pageapp-product-radiobtn divide-product-subsdetail">
                        <!--<label>Units</label>-->
                        <label>{{product["product_weight"]}}</label>
                        <br>
                        <label>Rs. {{product["product_rate"]| number : 2}} /-</label>
                        <br/>
                        <label>Qty. : {{product.packet_quantity}}</label>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Milk Variant List Ends-->
        <div class="space-mr"></div>
        <div class="decoration decoration-margins"></div>
    </div>    
    
    
    
 

    
    <div class="box-subs-Notfound effect6" ng-if="!my_subscription.length" style="">No Subscription Found...</div>
</div>

