
<!--<h5 style="text-align:center">Invoice Detail</h5>
<div class="decoration decoration-margins"></div>-->

<div class="content" >
   <!--  <div class="content">
        <div class="decoration"></div>
    </div> -->
	 <div class="store-cart-1">
	<div class="space-mr"></div>
			<div class="row  order-detail-box">
				<div class="col-sm-12 col-xs-12  addcart2-item">
					<div class="col-sm-6 col-xs-6">
						<label>Invoice Id:001<!-- {{['order_id']}} --><label>
					</div>
					<div class="col-sm-6 col-xs-6 bill-lbl">
						<label>31-05-2017<!-- {{order['order_date']}} --></label>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 order-detail">
					<div class="col-sm-4 col-xs-4">
						<a href="#!/productsdetails"><img data-original="images/products/malai-paneer.jpg" alt="img" class="preload-image" src="images/products/malai-paneer.jpg"></a>
					</div>
					<div class="col-sm-4 col-xs-4">
						<div>
							<h1>Cow Milk</h1>
						</div>
						<div>
							<label>250gm</label>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 order-detail-lbl">
						<label>Rs. 10/-</label>
					</div>
				</div>
				<div class="decoration decoration-margins"></div>
				<div class="col-sm-12 col-xs-12 order-detail">
					<div class="col-sm-4 col-xs-4">
						<a href="#!/productsdetails"><img data-original="images/products/malai-paneer.jpg" alt="img" class="preload-image" src="images/products/malai-paneer.jpg"></a>
					</div>
					<div class="col-sm-4 col-xs-4">
						<div>
							<h1>Cow Milk</h1>
						</div>
						<div>
							<label>500gm</label>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 order-detail-lbl">
						<label>Rs. 20/-</label>
					</div>
				</div>
				<div class="decoration decoration-margins"></div>
				<div class="col-sm-12 col-xs-12 order-detail">
					<div class="col-sm-4 col-xs-4">
						<a href="#!/productsdetails"><img data-original="images/products/malai-paneer.jpg" alt="img" class="preload-image" src="images/products/malai-paneer.jpg"></a>
					</div>
					<div class="col-sm-4 col-xs-4">
						<div>
							<h1>Cow Milk</h1>
						</div>
						<div>
							<label>1Litre</label>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 order-detail-lbl">
						<label>Rs. 21/-</label>
					</div>
				</div>
		
				<div class="col-sm-12 col-xs-12 addcart-item">
					<div class="row">
					<hr>		
						<div class="col-sm-6 col-xs-6">
							<label>Total</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">Rs. 60.00</span>	
						</div>
					</div>
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Date</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">31-05-2017</span>
						</div>
					</div>
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Payment Status</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">Paid</span>
						</div>
					</div>
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Delivery Charges</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">Rs. 10.00</span>
						</div>
					</div>
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Discount</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<span class="pull-right">10%</span>	
						</div>		
					</div>
					<hr>
					<div class="row">	
						<div class="col-sm-6 col-xs-6">
							<label>Delivery Statement</label>
						</div>
						<div class="col-sm-6 col-xs-6 bill-lbl">
							<a href="#!/email-template/productsdetails">
							<label>Completed</label>
							</a>
						</div>
					</div>
				</div>	
			
			</div>
		</div>  

</div>
