<div class="content-fullscreen tabs-nav">
    <div class="home-tabs ">
        <a class="activate-tab-1 active-home-tab" >Invoice</a>
        <a  href="#!/payment_history">Payment History</a>

        <div class="clear"></div>
    </div>
</div>

<!--<h5 style="text-align:center">Invoice</h5>-->
<!-- <div class="decoration decoration-margins"></div>-->
<div class="content" >
    <div class="thumb-layout">
        
        <table style="border-left:none !important;">
         
            <tr class="invoice-history" ng-repeat="invoice in invoice_list">
                <td style="border-right:none !important;border-left:none !important;background-color:none !important;">  
                    <a style="margin-bottom: 1px !important;cursor: pointer " href="#!/invoice_detail/{{invoice['invoice_id'] }}">
                        <table class="box-thank-shadow">

                                    <tr>
                                        <td style="width: 50%; text-align: left; font-weight: bold;font-size: 15px;">{{invoice['invoice_date'] }}</td>
                                        <td style="width: 50%; text-align: left"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 50%; text-align: left">INV-{{invoice['invoice_no'] }}</td>
                                        <td style="width: 50%; text-align: right; color: #fec804;font-size: 15px; font-weight: bold">Rs.{{invoice['total_amount'] }}/- <span style="font-size:30px; position: relative; top:2px; line-height: 15px">&#155;</span>	</td>
                                    </tr>
                                    <tr>    
                                        <td ng-if="invoice['invoice_status'] === '0'" style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">InComplete</td>
                                        <td ng-if="invoice['invoice_status'] === '1' " style="width: 50%; text-align: left;font-weight: bold; color: #9c9c9c">Complete</td>
                        <!--                <td style="width: 50%; text-align: right; color: #ccc"><a style="margin-bottom: 1px !important; " href="#!/subscription_invoice_detail">View</a></td>-->
                                        <td style="width: 50%; text-align: right; color: #ccc">&nbsp;</td>
                                    </tr>

                        </table>    
                    </a>      
                </td>
            </tr>    
            
        </table>

       <table class="order-table" ng-show="no_list">
            <tr>
                <td>Invoice list not available.</td>
            </tr>
        </table>
		


    </div>
	

</div>
