<div class="content-fullscreen tabs-nav">
    <div class="home-tabs ">
        <a class="activate-tab-1 " href="#!/billings" >Invoice</a>
        <a class="activate-tab-2 active-home-tab" >Payment History</a>

        <div class="clear"></div>
    </div>
</div>

<!--<h5 style="text-align:center">Payment History</h5>-->
<!--<div class="decoration decoration-margins"></div>-->

<div class="content">
<div class="store-cart-1"> 
    <table class="payment-history">
        <tr ng-repeat="payment in payment_list" class="cart-item payment-cart-item" style="height: 60px !important;box-shadow:0 0 7px rgba(0,0,0,0.5);width: 100% !important;
    float: left;
    margin-left: 0%;">
            <td style="width: 25%;text-align: left;">{{payment['payment_date'] }}</td>
            <td style="width: 37%;text-align: right; font-weight: bold;">Rs. {{payment['payment_amount'] }}/-</td>
            <td style="width: 25%"><img class="responsive-image" src="images/store/pay-1.png" alt="img" style="height:30px !important;width:40px !important;position:initial !important;"></td>
            <td style="width: 25%;text-align: right;" class="green info" ng-if ="payment['payment_status']=='1'">Successful</td>
            <td style="width: 25%;text-align: right;border-bottom:2px black solid;" class="red warning" ng-if="payment['payment_status']=='0' || payment['payment_status']==''">Failed</td>
        </tr>
    </table>
   <!--<div class="row">
        <div class="col-sm-12 col-xs-12 box effect6 payment-his">
            <div class="col-sm-2 col-xs-2">
                <img class="responsive-image" src="images/store/pay-1.png" alt="img">
            </div>
            <div class="col-sm-6 col-xs-6">
                <h1>Mango Lassi</h1>
                 <label>Failed</label>
            </div>
            <div class="col-sm-4 col-xs-4">
                <h1>Rs. 5000/-</h1>
                <label>03/08/2017</label>
            </div>
        </div>
    </div>-->
	
       <table class='order-table'  ng-show='no_list'>
            <tr>
                <td>Payment list not available.</td>
            </tr>
        </table>

	<!--	
    <div class="content">
        <div class="decoration"></div>
    </div>
	-->
</div>
