
<!--<h5 style="text-align:center">Invoice Detail</h5>
<div class="decoration decoration-margins"></div>-->
<style>
td { line-height :30px !important; }
.green {
    color: green;
}
</style>
<div class="content" >
   <!--  <div class="content">
        <div class="decoration"></div>
    </div> -->
     <div class="store-cart-1">
           <div class="space-mr"></div> 
    
           
                <div class="col-sm-12 col-xs-12  addcart2-item">
                    <div class="col-sm-6 col-xs-6">
                        <label>Invoice Id:001 <label>
                    </div>
                    <div class="col-sm-6 col-xs-6 bill-lbl">
                        <label>29/07/2017</label>
                    </div>
                </div>

                <table border="0" cellpadding="0" cellspacing="0">
                    <!--<tr>
                        <td class="box-contact">
                            <label style="color: #fff;font-size: 12px;">Your Unbilled Usage 7645</label>
                        </td>
                    </tr>-->
                    

                    <tr>
                    <td>
                        
                         <table border="0" cellpadding="0" cellspacing="0" align="left">
                         <tbody>
                             <tr>
                                <th style="width:40%;text-align: center;color:#fff;background-color:#fec804;font-size:12px;"><label>Desc</label></th>
                                <th style="float:left; width:30%;text-align: center;color:#fff; background-color:#fec804;font-size:12px;"><label>Unit</label></th>
                                <th style="float:left; width:30%;text-align: center;color:#fff; background-color:#fec804;font-size:12px;"><label>Rate</label></th>
                                <th style="float:left; width:40%;text-align: center;color:#fff; background-color:#fec804;font-size:12px;"><label>Amount</label></th>
                            </tr>
                          <tr>
                            <td style="width:40%;text-align: center;font-size:12px;">Cow Milk</td>
                            <td style="float:left; width:30%;text-align: center;font-size:12px;">25Ltr</td>
                            <td style="float:left; width:30%;text-align: center;font-size:12px;">20</td>
                            <td style="float:left; width:40%;text-align: center;font-size:12px;">Rs.500</td>
                            
                          </tr>
                          
                        <tr>
                            <td style="text-align:center; width:30%;"><label>Total</label></td>
                            <td style="text-align: right; width:100%; padding-right: 29px;"><label>Rs.700</label></td>
                        </tr>
                        </tbody>
                        </table>
                    </td>
                    </tr>
                    
                    


                    <tr>
                        <td>
                            <table class="subscription-invoice" border="0" cellpadding="0" cellspacing="0">
                        
                                <tr style="">
                                    <td>
                                        <table class="hidden subscription-invoice invoice_payment_block" ng-if="invoice_status=='1'">
                                        <tr>
                                                <td style="width:50%">
                                                <label style="font-size:19px;margin-top: 10px" class="green" >Rs.700/- </label>
                                                </td>
                                            </tr>
                                            <tr><td style="width:50%">
                                                <label>Total Outstanding Amount for <br/><span   ng-if="invoice_detail['invoice_for'] =='1'" > Subscription Order</span> <span class="green" ng-if="invoice_detail['invoice_for'] =='2'" > Subscription</span></br/><span class="green"> Paid  <!--<label>{{ invoice_detail['invoice_date']}}</label>--></span></label></td>
                                            </tr>
                                            
                                            
                                            
                                        </table>
                                        <table class="subscription-invoice invoice_payment_block">
                                        <tr>
                                                <td style="width:50%">
                                                <label style="font-size:19px;margin-top: 10px" class="red_txt">Rs.700/-</label>
                                                </td>
                                            </tr>
                                            <tr><td style="width:50%">
                                              <!--  <label>Total Outstanding Amount for <br/><span   ng-if="invoice_detail['invoice_for'] =='1'" > Product Order</span> <span class="green" ng-if="invoice_detail['invoice_for'] =='2'" > Subscription</span></br/><span class="red_txt"> Pending</span></label>-->
                                              <label>Total Outstanding Amount for <br/><span> Subscription Order</span> <span class="green"> Paid</span></br/><span class="red_txt"> Pending</span></label>
                                              </td>
                                            </tr>
                                            
                                            <!--
                                            <tr><td style="width:50%">
                                                <label>{{ invoice_detail['invoice_date']}}</label></td>
                                            </tr>
                                            -->
                                            <tr >
                                                <td style="width:50%">
                                                <button type="button" class="button button-green button-round button-bold button-xs">Pay Now</button>
                                            </tr>
                                        </table>

                                        
                                    </td>
                                    <!--<td>
                                        <table class="subscription-invoice" style="border: #000 0.1px dashed;width: 90%;margin-right: 10px;margin-top: 10px;">
                                        <tr>
                                            <td style="width:50%">
                                                <label style="font-size:19px;margin-top: 10px">Rs.1000.00</label>
                                            </td>
                                            </tr>
                                            <tr><td style="width:90%">
                                                <label>Billed</label></td>
                                            </tr>
                                            <tr><td style="width:90%">
                                                <label>Due Date</label></td>
                                            </tr>
                                            <tr><td style="width:90%">
                                                <label>17-02-2017</label></td>
                                            </tr>
                                            <tr><td style="width:90%">
                                                <button type="submit" class="button button-green button-round button-bold button-xs">Pay Now</button>
                                            </tr>
                                        </table>
                                    </td>-->
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                    
                </table>

           
        
    </div>  

</div>
