<!-- <div class="decoration decoration-margins"></div>
<div class="content">    
    <div class="store-cart-1">   
        <div class="row" ng-repeat="product in product_list">
            <div class="col-sm-12 col-xs-12 cart-item effect6 box background-box">
               
                <a href="#!/products">
					<img  class="preload-image" ng-src="{{product['product_image'] || 'img/no-image.png'}}">  
				</a>
                <h1><a href="#!/products">{{product["product_title"]}}</a></h1>
                <h4>
                             <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                             <input type="text" value="1" class="qty">
                             <a  class="add-qty"><i class="ion-plus-round"></i></a>
                     </h4> 

                <div class="pageapp-product-radiobtn">
                       <label>Units</label>
                    <label>{{product["product_weight"]}}</label>
                    <br>
                    <label>Rs. {{product["product_rate"] | number : 2}} /-</label>
                     <p class="input-group-product input-number">
                    <span class="input-group-btn" ng-click="removeProducts(product.product_id)">
                        <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                    <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product['product_id'],products_cart)].product_quantity}}">
                    
                    <span class="input-group-btn" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,0,1)">
                        <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </p>
                </div>	
               
               
              
            </div>
			<div class="decoration"></div>
        </div>
        <div class="sub-btn" ng-show="is_session">
            <a href="#!/addcart"><button class="button button-green button-round button-bold button-xs button-sub button-regis" >View Cart</button></a>
        </div>
        <table class="order-table" ng-show="no_list">
            <tr>
                <td>Product list not available.</td>
            </tr>
        </table>
	
		
		
        <div class="clear"></div>
       
        
    </div>

</div> -->


<!-- <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/jssor.slider-27.1.0.min.js" type="text/javascript"></script>
 <link href="styles/thumbnail-slider.css" rel="stylesheet" type="text/css" />
<script src="js/thumbnail-slider.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_1_SlideshowTransitions = [
          {$Duration:800,$Opacity:2}
        ];

        var jssor_1_options = {
          $AutoPlay: 1,
          $SlideshowOptions: {
            $Class: $JssorSlideshowRunner$,
            $Transitions: jssor_1_SlideshowTransitions,
            $TransitionsOrder: 1
          },
          $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$
          },
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$
          }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*#region responsive code begin*/

        var MAX_WIDTH = 980;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {

                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                jssor_1_slider.$ScaleWidth(expectedWidth);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
    });
</script> -->
<!-- <style>
    /*jssor slider loading skin spin css*/
    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    /*jssor slider bullet skin 051 css*/
    .jssorb051 .i {position:absolute;cursor:pointer;}
    .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
    .jssorb051 .i:hover .b {fill-opacity:.7;}
    .jssorb051 .iav .b {fill-opacity: 1;}
    .jssorb051 .i.idn {opacity:.3;}

    /*jssor slider arrow skin 051 css*/
    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
</style> -->
<style type="text/css">
  .pop-subscriptions {
    background: #fff;
    /* margin: 2px; */
    /* margin-top: -5px; */
    padding: 1px;
  }

  .pop-subscriptions img {
    width: 20%;
    height: 20%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .pop-subscriptions h4 {

    font-size: 15px;
    color: #433f3f;
    /* padding-top: 3px; */
    color: #2b413f;
    font-family: "PlayfairDisplay-Bold";
    /* font-family: "Quicksand-Bold"; */
    font-size: 18px;
  }

  .pop-subscriptions h6 {

    font-size: 15px;
    color: #4CAF50;
    font-family: "PlayfairDisplay-Bold";
  }

  .shop-category {

    background: #fff;
    padding: 5px;
    color: red;
  }

  .cat-option {

    background: #a59999;
    /* width: 99%; */
    margin: 5px;
    padding: 30%;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
  }



  .cards {

    display: flex;
    flex-wrap: wrap;

  }




  .card {
    /* background: #fff; */
    /* box-shadow: 0 0 10px rgba(0,0,0,.5); */
    padding: 5px;
    margin: 3px;
    /* border-radius: 5px; */
    width: 48%;
    /* text-align: center; */
  }

  .card-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
  }

  .card-footer {
    background: #F44336;
    color: white;
    border-radius: 4px;
    padding: 5px;
    text-align: center;

  }

  .card-body img {
    width: 100px;
    margin-left: 18%;
    height: 100px !important;
    border: 1px solid #afabab;
    border-radius: 50%;
    padding: 2px;
    background: #e4e4e4;
  }

  .card-body {
    position: relative;
    text-align: center;
  }

  .card-body label {
    /* position: absolute; */
    color: #484242;
    /* font-family: "Quicksand-Bold"; */
    font-size: 12px;
    /* bottom: 0; */
    /* left: 0px; */
    /* right: 0; */
    /* background: #4caf50; */
    /* margin: -5px; */
    /* padding: 5px 2px; */
    /* min-width: 107%; */
    /* text-align: center; */
    text-transform: uppercase;
    font-family: "Oswald-Regular";
    letter-spacing: 1px;
  }

  .cat-shop-title {
    color: #707070;
    padding: 2px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 1000;
    font-family: "Sansation-Bold";
  }

  .slider-product label {
    color: red;
    position: relative;

  }

  .shop-category {
    text-align: center;
  }
</style>

<div class="shop-category">
  <!-- <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
   
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
        <div data-p="170.00">
            <img data-u="image" src="images/slider_subcription/bnr1.png" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/slider_subcription/bnr.png" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/slider_subcription/bnr1.png" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/slider_subcription/bnr.png" />
        </div>
      <div data-p="170.00">
            <img data-u="image" src="images/005.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/006.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/005.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/008.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/009.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/010.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/011.jpg" />
        </div>
        <div data-p="170.00">
            <img data-u="image" src="images/012.jpg" />
        </div> 
    </div>

    <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                
            </svg>
        </div>
    </div>

    
    
</div> -->
  <!-- #endregion Jssor Slider End -->

  <!-- <div class="pop-subscriptions">
   <a href="#!/popular_subscription"><img src="images/pop-sub.png" class="img-responsive img-circle pull-left">
      <h4>Popular Subscriptions</h4>
      <h6>your daily fresh needs right here!</h6> 
      <i class="ion-chevron-right icon-view-popup" style="color: #F44336;"></i></a>   
</div> -->

  <h4 class="cat-shop-title">Shop by Category</h4>
  <div class="decoration deco-0 decoration-small animate-zoom"></div>
  <div class="shop-category">

    <!-- <div class="cards">

<div class="card">
<div class="card-inner">
  <a href="#!/dahi_menu/milk">
  <div class="card-body">
    <img src="images/babycare.png" alt="dahi" class="img-responsive">
   <label>BABY CARE</label> 
   
   
  </div></a> 

</div>
</div> 


<div class="card">
    <div class="card-inner">
      <a href="#!/dahi_menu/milk">
      <div class="card-body">
        <img src="images/bakery.png" alt="dahi" class="img-responsive">
       <label>BAKERY,CAKES & DAIRY</label> 
       
       
      </div></a> 
    
    </div>
    </div> 

    <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
          <div class="card-body">
            <img src="images/beauty.png" alt="dahi" class="img-responsive">
           <label>BEAUTy & HYGIENE</label> 
           
           
          </div></a> 
        
        </div>
        </div> 

        <div class="card">
            <div class="card-inner">
              <a href="#!/dahi_menu/milk">
              <div class="card-body">
                <img src="images/BEVERAGES.png" alt="dahi" class="img-responsive">
               <label>BEVERAGES</label> 
               
               
              </div></a> 
            
            </div>
            </div> 

            <div class="card">
                <div class="card-inner">
                  <a href="#!/dahi_menu/milk">
                  <div class="card-body">
                    <img src="images/CLEANING.png" alt="dahi" class="img-responsive">
                   <label>CLEANING & HOUSEHOLD</label> 
                   
                   
                  </div></a> 
                
                </div>
                </div>   
                <div class="card">
                    <div class="card-inner">
                      <a href="#!/dahi_menu/milk">
                      <div class="card-body">
                        <img src="images/MEAT.png" alt="dahi" class="img-responsive">
                       <label>EGGS, MEAT & FISH</label> 
                       
                       
                      </div></a> 
                    
                    </div>
                    </div>     
                    <div class="card">
                        <div class="card-inner">
                          <a href="#!/dahi_menu/milk">
                          <div class="card-body">
                            <img src="images/FOODGRAINS.png" alt="dahi" class="img-responsive">
                           <label>FOODGRAINS, OIL & MASALA</label> 
                           
                           
                          </div></a> 
                        
                        </div>
                        </div> 
                        
                        <div class="card">
                            <div class="card-inner">
                              <a href="#!/dahi_menu/milk">
                              <div class="card-body">
                                <img src="images/Fruits.png" alt="dahi" class="img-responsive">
                               <label>Fruits & Vegetables</label> 
                               
                               
                              </div></a> 
                            
                            </div>
                            </div>     
                       
                            <div class="card">
                                <div class="card-inner">
                                  <a href="#!/dahi_menu/milk">
                                  <div class="card-body">
                                    <img src="images/GOURMET.png" alt="dahi" class="img-responsive">
                                   <label>GOURMET & WORLD FOOD</label> 
                                   
                                   
                                  </div></a> 
                                
                                </div>
                                </div>    
                                
                                <div class="card">
                                        <div class="card-inner">
                                          <a href="#!/dahi_menu/milk">
                                          <div class="card-body">
                                            <img src="images/KITCHEN.png" alt="dahi" class="img-responsive">
                                           <label>KITCHEN, GARDEN & PETS</label> 
                                           
                                           
                                          </div></a> 
                                        
                                        </div>
                                        </div>       
                                        <div class="card">
                                                <div class="card-inner">
                                                  <a href="#!/dahi_menu/milk">
                                                  <div class="card-body">
                                                    <img src="images/SNACKS.png" alt="dahi" class="img-responsive">
                                                   <label>SNACKS & BRANDED FOODS</label> 
                                                   
                                                   
                                                  </div></a> 
                                                
                                                </div>
                                                </div>                 






</div> -->

    <div class="cards">



      <div class="card">
        <div class="card-inner">
          <a href="#!/Beauty_products">
            <div class="card-body">
              <img src="images/beauty.png" alt="dahi" class="img-responsive">
              <label>BEAUTY & HYGIENE</label>


            </div>
          </a>

        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <a href="#!/Beverage_products">
            <div class="card-body">
              <img src="images/BEVERAGES.png" alt="dahi" class="img-responsive">
              <label>BEVERAGES</label>


            </div>
          </a>

        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <a href="#!/Cleaning_products">
            <div class="card-body">
              <img src="images/CLEANING.png" alt="dahi" class="img-responsive">
              <label>CLEANING & HOUSEHOLD</label>


            </div>
          </a>

        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <a href="#!/meat_products">
            <div class="card-body">
              <img src="images/MEAT.png" alt="dahi" class="img-responsive">
              <label>EGGS, MEAT & FISH</label>


            </div>
          </a>

        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/FOODGRAINS.png" alt="dahi" class="img-responsive">
              <label>FOODGRAINS, OIL & MASALA</label>


            </div>
          </a>

        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/Fruits.png" alt="dahi" class="img-responsive">
              <label>Fruits & Vegetables</label>


            </div>
          </a>

        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/GOURMET.png" alt="dahi" class="img-responsive">
              <label>GOURMET & WORLD FOOD</label>


            </div>
          </a>

        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/KITCHEN.png" alt="dahi" class="img-responsive">
              <label>KITCHEN, GARDEN & PETS</label>


            </div>
          </a>

        </div>
      </div>
      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/SNACKS.png" alt="dahi" class="img-responsive">
              <label>SNACKS & BRANDED FOODS</label>


            </div>
          </a>

        </div>
      </div>


      <div class="card">
        <div class="card-inner">
          <a href="#!/products_cat1">
            <div class="card-body">
              <img src="images/babycare.png" alt="dahi" class="img-responsive">
              <label>BABY CARE</label>


            </div>
          </a>

        </div>
      </div>


      <div class="card">
        <div class="card-inner">
          <a href="#!/dahi_menu/milk">
            <div class="card-body">
              <img src="images/bakery.png" alt="dahi" class="img-responsive">
              <label>BAKERY,CAKES & DAIRY</label>


            </div>
          </a>

        </div>
      </div>



    </div>
  </div>

</div>






<!-- <h4 class="cat-shop-title">Deal of the day</h4>
<div class="shop-category">

<div>
    <div id="thumbnail-slider">
        <div class="inner">
            <ul>
                <li class="slider-product">
                    <a class="thumb" href="images/111.jpg"></a>
                     
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/555.jpg"></a>
                    
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/777.jpg"></a>
                    
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/666.jpg"></a>
                   
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/555.jpg"></a>
                   
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/888.jpg"></a>
                    
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/999.jpg"></a>
                   
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/111.jpg"></a>
                    
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/777.jpg"></a>
                   
                </li>
                <li class="slider-product">
                    <a class="thumb" href="images/888.jpg"></a>
                   
                </li>
            </ul>
        </div>
    </div>
</div>

   
   
     
</div> -->