<style>
        /* .star {
            visibility: hidden;
            font-size: 30px;
            cursor: pointer;
            position: absolute;
        }
        .star:before {
            content: "\2606";
            position: absolute;
            top: -60px;
            left: 100px;
            color: #ffffff;
            visibility:visible;
        
        }
        .star:checked:before {
            content: "\2605";
            position: absolute;
            visibility: visible;
            top: -60px;
            left: 100px;
            color: #707570;
            
        } */
        
        .star {
            visibility:hidden;
            font-size:30px;
            cursor:pointer;
            position: absolute;
        }
        .star:before {
            content: "\2606";
            position: absolute;
            top: -12px;
            left: 190px;
            color: #989292;
            visibility: hidden;
            font-size: 25px;
        }
        .star:checked:before {
            content: "\2606";
            position: absolute;
            color: #4CAF50;
        
        }
        
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }
        .single-item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            border: solid 6px #fff;
            border-radius: 10px;
            background: #f5f5f5;
            box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            margin: 5px;
            margin-bottom: 10px;
        }
        
        .right-set {
        
            width: 65%;
            padding: 5px;
        
        }
        
        .left-set{
            width: 35%;
            text-align: center;
        }
        
        
        .right-set .name,
        .right-set .subname {
          font-weight: bold;
        }
        .right-set .name {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        .right-set .subname {
          font-size: 0.8rem;
          line-height: 1rem;
        }
        .right-set .price {
            padding: 2px;
            font-size: 14px;
            font-weight: bold;
        }
        .right-set .description p {
          font-size: 0.9rem;
          text-align: justify;
          -webkit-hyphens: auto;
              -ms-hyphens: auto;
                  hyphens: auto;
        }
        .right-set .color {
          margin: 1rem 0;
        }
        .right-set .color:after {
          content: "";
          display: block;
          clear: left;
        }
        .right-set .color ul li {
          width: 20px;
          height: 20px;
          border: solid 2px #aaa;
          border-radius: 4px;
          float: left;
          margin-right: 0.4rem;
          cursor: pointer;
          transition: all 0.4s ease;
        }
        .right-set .color ul li:nth-child(1) {
          background: #222;
        }
        .right-set .color ul li:nth-child(1):hover {
          border-color: #222;
        }
        .right-set .color ul li:nth-child(2) {
          background: crimson;
        }
        .right-set .color ul li:nth-child(2):hover {
          border-color: crimson;
        }
        /* .right-set button {
          width: 100%;
          height: 2rem;
          cursor: pointer;
          background: none;
          border: solid 2px #111;
          border-radius: 4px;
          font-weight: bold;
          letter-spacing: 0.2rem;
          transition: all 0.4s ease;
        } */
        
        
        .right-set label{
         
            padding: 3px;
            border: 2px solid #4caf50;
            border-radius: 5px;
        }
        
        .left-set label{
         
            color: #4caf50;
        }
        
        .left-set img{
            width: 95px;
            height: 100px;
            display: block;
            margin: auto;
            margin-top: 5px;
            margin-bottom: 2px;
        }
        
        </style>
        
        
        <!-- <div class="decoration decoration-margins"></div>
        <h4 class="cat-shop-title" style="
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        ">{{product_category_title}}</h4>
          <div class="decoration deco-0 decoration-small animate-zoom"></div> -->
        
          <div class="">    
                <div class="store-cart-1" style="margin-top: 15px;">   
          <div class="single-item" ng-repeat="product_list_test in product_list">
                <div class="left-set">
                       
                        <img ng-src="{{product_list_test.product_image}}" class="img-responsive" />  
                  <label for="star">Remove</label>
                  
                </div>
                <div class="right-set">
                        <input class="star" id="star" type="checkbox" title="bookmark page" ng-model="status_value" ng-click="addToMylist(product_list_test.product_id,status_value)">
                  <div class="name">{{product_list_test.product_title}}</div>
                
                  <div class="price" style="color: #757a75;text-decoration: line-through;">MRP: -</div>
                  <div class="price" style="color: #3d9241;">Our Price: Rs. {{product_list_test.product_rate | number : 2}} /-</div>
                  <div class="price" style="color: red;">Save: -</div>
            
                  <label>{{product_list_test.product_weight}}</label>
                  <!-- <button>ADD TO CART</button> -->
                  <p class="input-group-product input-number">
                        <span class="input-group-btn" ng-click="removeProducts(product_list_test.product_id)">
                            <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                        <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product_list_test['product_id'],products_cart)].product_quantity}}">
                        
                        <span class="input-group-btn" ng-click="addProducts(product_list_test.product_id,product_list_test.product_title,product_list_test.product_rate,product_list_test.product_quantity,product_list_test.product_image,product_list_test.product_weight,0,1)">
                            <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </p>
                </div>
              </div>
        
        
         
        <!-- 
                <div class="row">
                  <div class="col-sm-12 col-xs-12 cart-item effect6 box background-box">
                     
                      <a href="#!/products">
                <img src="images/test2.jpg" class="img-responsive" />  
              </a>
                      <h1><a href="#!/products">Garnier men face wash</a></h1>
                      <!-- <h4>
                                   <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                                   <input type="text" value="1" class="qty">
                                   <a  class="add-qty"><i class="ion-plus-round"></i></a>
                           </h4>  
        
                      <div class="pageapp-product-radiobtn">
                             <label>Units</label>
                          <label>1</label>
                          <br>
                          <label>Rs. 22 /-</label>
                           <p class="input-group-product input-number">
                          <span class="input-group-btn" ng-click="removeProducts(product.product_id)">
                              <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                                  <span class="glyphicon glyphicon-minus"></span>
                              </button>
                          </span>
                          <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                          <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product['product_id'],products_cart)].product_quantity}}">
                          
                          <span class="input-group-btn" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,0,1)">
                              <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                                  <span class="glyphicon glyphicon-plus"></span>
                              </button>
                          </span>
                      </p>
                      </div>	
                     
                     
                    
                  </div>
            <div class="decoration"></div>
              </div> -->
        
        
        <!-- 
              <div class="row">
                <div class="col-sm-12 col-xs-12 cart-item effect6 box background-box">
                   
                    <a href="#!/products">
              <img src="images/test3.jpg" class="img-responsive" />  
            </a>
                    <h1><a href="#!/products">Biotique Bio Apricot</a></h1>
                    <!-- <h4>
                                 <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                                 <input type="text" value="1" class="qty">
                                 <a  class="add-qty"><i class="ion-plus-round"></i></a>
                         </h4>  
        
                    <div class="pageapp-product-radiobtn">
                           <label>Units</label>
                        <label>1</label>
                        <br>
                        <label>Rs. 22 /-</label>
                         <p class="input-group-product input-number">
                        <span class="input-group-btn" ng-click="removeProducts(product.product_id)">
                            <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                        <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product['product_id'],products_cart)].product_quantity}}">
                        
                        <span class="input-group-btn" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,0,1)">
                            <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </p>
                    </div>	
                   
                   
                  
                </div>
          <div class="decoration"></div>
            </div> -->
        
        
        <!-- 
            <div class="row">
              <div class="col-sm-12 col-xs-12 cart-item effect6 box background-box">
                 
                  <a href="#!/products">
            <img src="images/test4.jpg" class="img-responsive" />  
          </a>
                  <h1><a href="#!/products">Detol Hand Wash</a></h1>
                  <!-- <h4>
                               <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                               <input type="text" value="1" class="qty">
                               <a  class="add-qty"><i class="ion-plus-round"></i></a>
                       </h4>  
        
                  <div class="pageapp-product-radiobtn">
                         <label>Units</label>
                      <label>1</label>
                      <br>
                      <label>Rs. 22 /-</label>
                       <p class="input-group-product input-number">
                      <span class="input-group-btn" ng-click="removeProducts(product.product_id)">
                          <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                              <span class="glyphicon glyphicon-minus"></span>
                          </button>
                      </span>
                      <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                      <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product['product_id'],products_cart)].product_quantity}}">
                      
                      <span class="input-group-btn" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,0,1)">
                          <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                      </span>
                  </p>
                  </div>	
                 
                 
                
              </div>
        <div class="decoration"></div>
          </div> -->
          <div class="" ng-show="is_session">
                <a href="#!/addcart" class="btn btn-default product-cart-btn">View Cart</a>
            </div>
                <table class="order-table" ng-show="no_list">
                    <tr>
                        <td>Product list not available.</td>
                    </tr>
                </table>
            
                
                
                <div class="clear"></div>
               
                
            </div>
        
        </div>
        
        
        