<div class="decoration decoration-margins"></div>
<div class="content">    
    <div class="store-cart-1">   
        <div class="row" ng-repeat="product in product_list">
            <div class="col-sm-12 col-xs-12 cart-item effect6 box background-box">
               
                <a href="#!/products">
					<img  class="preload-image" ng-src="{{product['product_image'] || 'img/no-image.png'}}">  
				</a>
                <h1><a href="#!/products">{{product["product_title"]}}</a></h1>
                <!--  <h4>
                             <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                             <input type="text" value="1" class="qty">
                             <a  class="add-qty"><i class="ion-plus-round"></i></a>
                     </h4> -->

                <div class="pageapp-product-radiobtn">
<!--                    <label>Units</label>-->
                    <label>{{product["product_weight"]}}</label>
                    <br>
                    <label>Rs. {{product["product_rate"] | number : 2}} /-</label>
                    <p class="input-group-product input-number" ng-hide="product.sample_order=='1'">
                    <span class="input-group-btn" ng-click="removeProducts(product.product_id)">
                        <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                    <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product['product_id'],products_cart)].product_quantity}}">
                    
                    <span class="input-group-btn" ng-click="addProducts(product.product_id,product.product_title,product.product_rate,product.product_quantity,product.product_image,product.product_weight,1,0)">
                        <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </p>
                </div>	
               
               
              
            </div>
			<!--<div class="decoration"></div>-->
        </div>
        <div class="sub-btn" ng-show="cart_count">
            <a href="#!/addcart"><button class="button button-green button-round button-bold button-xs button-sub button-regis" >View Cart</button></a>
        </div>
        <table class="order-table" ng-show="no_list">
            <tr>
                <td>Product list not available.</td>
            </tr>
        </table>
	
		
		
        <div class="clear"></div>
       
        
    </div>

</div>