<div class="decoration decoration-margins"></div>

<div class="content">   

    <div class="row">
        <!-- <div class="store-cart-1"> -->
        <div class="col-sm-12 col-xs-12 cart-productdetails-item effect6 box">

           <img data-original="{{product_detail['product_image']}}" alt="img" class="preload-image product_detail_img" src="{{product_detail['product_image']}}" height> 
            <h1>{{product_detail['product_title']}}</h1>
            <div class="row">
                <div class="col-sm-6 col-xs-6 pageapp-productdetails-radiobtn">
<!--                    <label>Units</label>-->
                    <label>{{product_detail["product_weight"]}}</label><br> 
                    <label>Rs. {{product_detail["product_rate"] | number : 2}} /-</label>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <p class="input-group-productdetails input-prod">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" value="0" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </p>						
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>



</div>