<style>
  .shop-category ul li{
    border-bottom: 1px solid #b1a8a8;
    list-style-type: none;
    padding: 10px;
    color: #5a5454;
    box-shadow: 0px 0px 6px 0px #9e9c9c;
    position: relative;
    

  }

  .shop-category ul li img{
    width: 26px;
    height: 26px;
    /* border-radius: 50%; */
    /* float: left; */
    /* margin-right: 10px; */
    position: absolute;
    top: 8px;
    right: 20px;
  }

  .cat-shop-title{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
</style>

<div class="shop-sub-category">

<!-- 
  <h4 class="cat-shop-title">{{cat_title}}</h4>
  <div class="decoration deco-0 decoration-small animate-zoom"></div> -->
  <div class="shop-category">

              <!-- <ul>
                <li ng-repeat="sub_cat in sub_category" ng-click="getProductById(sub_cat.category_id,sub_cat.subcategory_id,sub_cat.subcategory_title)">
                
                
                      <img ng-src="{{sub_cat.subcategory_image}}"  class="img-responsive">
                      <label>{{sub_cat.subcategory_title}}</label>
        
        
          
                </li>
              </ul> -->

      
              <ul>
                <li ng-repeat="sub_cat in sub_category" ng-click="getSubToSubCatById(sub_cat.category_id,sub_cat.subcategory_id,sub_cat.subcategory_title)">
                
                
                      <!-- <img ng-src="{{sub_cat.subcategory_image}}"  class="img-responsive"> -->
                      <label>{{sub_cat.subcategory_title}}</label> <img src="images/next1.png"  class="img-responsive">
        
        
          
                </li>
              </ul>



  </div>

</div>






