<!-- 
<style>
 .subcatset{
    background: #f7f7f7;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    height: auto;
        }

        .subcatset-1{
            overflow: hidden;
    position: relative;
    font-size: 16px;
    font-family: arial,verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: pan-y;
    user-select: none;
    touch-action: pan-y;
        }

        .items-1{
            display: -webkit-box;
    overflow: scroll;

        }

        .items-2{
            position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.25;
    min-width: 4em;
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition-property: color,background,border-color,text-shadow;
    transition-duration: 200ms;
        }

        .items-3{
            height: auto;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
        }

        .items-2 label a:active,.items-2 label a:focus,.items-2 label a:hover{
            color: red !important;
    border-bottom: 3px solid red;
    padding-bottom: 20px;
        }

        .items-2 label{
            margin-top: 5px;
    margin-bottom: 0px;
        }
</style>


 <div class="subcatset">
     <div class="subcatset-1">
         <ul class="items-1">
            <li class="items-2 items-3" ng-repeat="subToSub_cat in subToSub_category" ng-click="getProductByIdSubID(subToSub_cat.category_id,subToSub_cat.subcategory_id,subToSub_cat.sub_subcategory_id)">
                
                
                <!-- <img ng-src="{{subToSuab_cat.subcategory_image}}"  class="img-responsive"> 
                <label><a>{{subToSub_cat.sub_subcategory_title}}</a></label>
  
  
    
          </li>
         </ul>
     </div>
 </div>

<br/><br/>
 <div class="">    
    <div class="store-cart-1">   
        <div class="product-box" ng-repeat="product_list_test in product_list">
            <div class="cart-item effect6 box background-box">
               
                <a href="">
					<img ng-src="{{product_list_test.product_image}}" class="img-responsive" />  
				</a>
                <h1><a href="">{{product_list_test.product_title}}</a></h1>
                 <h4>
                             <a  class="substract-qty"><i class="ion-minus-round minus-btn"></i></a>
                             <input type="text" value="1" class="qty">
                             <a  class="add-qty"><i class="ion-plus-round"></i></a>
                     </h4> 

                <div class="pageapp-product-radiobtn">
                       
                    <label>{{product_list_test.product_weight}}</label>
                    <br>
                    <label>Rs. {{product_list_test.product_rate | number : 2}} /-</label>
                    <input class="star" type="checkbox" title="bookmark page" ng-model="status_value" ng-click="addToMylist(product_list_test.product_id,status_value)">
                    <p class="input-group-product input-number">
                        <span class="input-group-btn" ng-click="removeProducts(product_list_test.product_id)">
                            <button type="button" class="btn-plus-product btn-danger btn-number" data-type="minus" data-field="quant[2]" >
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control input-number"  value="0" ng-show="isEmpty(products_cart)">
                        <input type="text" class="form-control input-number" ng-show="!isEmpty(products_cart)" value="{{products_cart[CheckhasElement('product_id',product_list_test['product_id'],products_cart)].product_quantity}}">
                        
                        <span class="input-group-btn" ng-click="addProducts(product_list_test.product_id,product_list_test.product_title,product_list_test.product_rate,product_list_test.product_quantity,product_list_test.product_image,product_list_test.product_weight,0,1)">
                            <button type="button" class="btn-plus-product btn-success btn-number" data-type="plus" >
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </p>
                </div>	
               
               
              
            </div>
			<div class="decoration"></div>
        </div>

        <div class="sub-btn" ng-show="is_session">
            <a href="#!/addcart"><button class="button button-green button-round button-bold button-xs button-sub button-regis" >View Cart</button></a>
        </div>
        <table class="order-table" ng-show="no_list">
            <tr>
                <td>Product list not available.</td>
            </tr>
        </table>
	
		
		
        <div class="clear"></div>

   </div>
   </div>     
 -->

 <style>
  .shop-category ul li{
    border-bottom: 1px solid #b1a8a8;
    list-style-type: none;
    padding: 10px;
    color: #5a5454;
    box-shadow: 0px 0px 6px 0px #9e9c9c;
    position: relative;
    

  }

  .shop-category ul li img{
    width: 26px;
    height: 26px;
    /* border-radius: 50%; */
    /* float: left; */
    /* margin-right: 10px; */
    position: absolute;
    top: 8px;
    right: 20px;
  }

  
    .cat-shop-title{
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  </style>
  
  <div class="shop-sub-category">
  
  
    <!-- <h4 class="cat-shop-title">{{cat_title}}</h4>
    <div class="decoration deco-0 decoration-small animate-zoom"></div> -->
    <div class="shop-category">
  
                <!-- <ul>
                  <li ng-repeat="sub_cat in sub_category" ng-click="getProductById(sub_cat.category_id,sub_cat.subcategory_id,sub_cat.subcategory_title)">
                  
                  
                        <img ng-src="{{sub_cat.subcategory_image}}"  class="img-responsive">
                        <label>{{sub_cat.subcategory_title}}</label>
          
          
            
                  </li>
                </ul> -->
  
        
                <ul>
                  <li ng-repeat="subToSub_cat in subToSub_category" ng-click="getSubToSubCatById(subToSub_cat.category_id,subToSub_cat.subcategory_id,subToSub_cat.sub_subcategory_id,subToSub_cat.sub_subcategory_title)">
                  
                  
                        <!-- <img ng-src="{{sub_cat.subcategory_image}}"  class="img-responsive"> -->
                        <label>{{subToSub_cat.sub_subcategory_title}}</label> <img src="images/next1.png"  class="img-responsive">
          
          
            
                  </li>
                </ul>
  
  
  
    </div>
  
  </div>
  
  
  
  
  
  
  
